<section section-id="{{ sectionId }}"
         data-lg-scroll-offset="130"
         data-md-scroll-offset="130"
         data-sm-scroll-offset="94"
         class="my-5 brands container"
        >
        <h2 class="title text-center mb-4">{{ settings.title }}</h2>
        <div class="container">
          <div class="row g-3">
            {% for item in settings.slider %}
            <div class="col-md-4">
             <div class="position-relative category-card">
                <img src="{{ item.cat.image_full_size }}" alt="{{ item.cat.name }}" class="w-100 h-100 object-fit-cover">
                <div class="d-flex flex-column gap-3  position-absolute bottom-0 end-0 mb-4 mx-4 ">
                  <h6 class="cat-title align-self-end">{{ item.cat.name }}</h6>
                  <a href="{{ item.cat.url }}" class="cat-btn">{{ item.buttonText }}</a>
                </div>
             </div>
            </div>
            {% endfor %}
          </div>
        </div>
  </section>



{% schema %}
{
  "name": {
    "ar": "أحدث البرندات",
    "en": "Modern Brands"
  },
  "icon": "fal fa-presentation",
  "display": true,
  "settings": {
    "title": {
      "type": "text",
      "label": {
        "ar": "العنوان",
        "en": "Title"
      }
    },
    "slider": {
      "type": "list",
      "noLabel": true,
      "maxItems": 4,
      "settings_label": {
        "ar": "اسلايدر",
        "en": "slider"
      },
      "settings": {
        "cat": {
          "type": "category",
          "label": {
            "ar": "النص",
            "en": "description"
          }
        },
        "buttonText":{
          "type": "text",
          "label": {
            "ar": "الزر",
            "en": "button text"
          }
        }
      }
    }
  }
}
{% endschema %}

