<section section-id="{{ sectionId }}"
         data-lg-scroll-offset="130"
         data-md-scroll-offset="130"
         data-sm-scroll-offset="94"
         class="my-5 featured-prodcut"
        >
 <div class="container">
  <div class="row g-4">
    <div class="col-md-6">
      <div class="d-flex flex-column gap-5 info">
        <div class="d-flex align-items-center justify-content-center justify-content-md-start gap-1">
          <div class="d-flex gap-2 align-items-center">
            _
            <svg width="23" height="10" viewBox="0 0 23 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.7 4.98712C20.7 4.76917 20.5905 4.55125 20.3714 4.44227L18.2904 2.80765C18.1809 2.69868 18.0714 2.69868 18.0714 2.69868C17.0857 2.04483 15.7714 2.26277 15.0048 3.02559L13.1429 4.98712L15.0048 6.94871L15.1143 7.05768C16.1 7.82051 17.4142 7.92948 18.2904 7.16665L20.481 5.53203C20.5905 5.42306 20.7 5.20507 20.7 4.98712ZM12.4857 4.98712L14.6762 2.69868C15.6619 1.82688 17.0857 1.60889 18.2904 2.26274C18.2904 2.37172 18.4 2.37171 18.5095 2.48069L20.7 4.11536C21.0286 4.33331 21.1381 4.6602 21.1381 4.98712C21.1381 5.31405 21.0286 5.64099 20.7 5.85895L18.5095 7.49356C17.5238 8.36536 15.881 8.36536 14.8952 7.49356L14.8952 7.38459C14.7857 7.38459 14.7857 7.27562 14.6762 7.27562L12.4857 4.98712ZM9.85713 4.98712L7.99524 3.02559C7.11905 2.15379 5.6952 2.04483 4.70952 2.80765L2.62857 4.44227C2.40952 4.55124 2.3 4.76917 2.3 4.98712C2.3 5.20507 2.40952 5.42306 2.51905 5.53203L4.70952 7.16665C5.6952 7.92948 7.11905 7.82051 7.99524 6.94871L9.85713 4.98712ZM1.86191 4.98712C1.86191 4.6602 1.97143 4.33331 2.3 4.11536L4.49048 2.48068C5.5857 1.60888 7.22855 1.71791 8.32379 2.69868L10.5143 4.98712L8.32379 7.27562C7.22855 8.36537 5.58569 8.47434 4.49048 7.49356L2.3 5.85894C1.97143 5.64099 1.86191 5.31405 1.86191 4.98712ZM22.5619 4.98712C22.5619 4.87815 22.5619 4.76919 22.5619 4.66021C22.4523 4.00636 22.1238 3.35252 21.5762 2.91662L19.3857 1.28195C17.6333 -0.025751 15.2238 0.192237 13.6905 1.71789L11.5 4.00633L9.30952 1.71789C8.7619 1.17301 7.99522 0.737102 7.22855 0.628126C6.02379 0.301201 4.6 0.519124 3.50476 1.28195L1.42381 2.91662C0.766668 3.4615 0.438097 4.2243 0.438097 4.98712C0.438097 5.74995 0.766668 6.5128 1.42381 7.05768L3.50476 8.6923C4.27143 9.23717 5.25716 9.56412 6.24288 9.56412C7.33811 9.56412 8.43333 9.12821 9.30952 8.25641L11.5 6.07689L13.6905 8.25641C14.5666 9.12821 15.6619 9.56412 16.7571 9.56412C17.1952 9.56412 17.6333 9.4551 17.9619 9.34612C18.1809 9.34612 18.2904 9.34612 18.2904 9.23715L18.5095 9.45509L18.4 9.23715C18.5095 9.23715 18.619 9.12818 18.7286 9.12818C18.8381 9.0192 18.9476 9.01921 18.9476 9.01921L19.0571 8.91024L19.1666 8.91024C19.2762 8.80126 19.3857 8.6923 19.3857 8.6923L21.5762 7.05768C22.2333 6.5128 22.5619 5.74995 22.5619 4.98712ZM-2.17994e-07 4.98712C-1.75123e-07 4.00635 0.328571 3.24351 1.09524 2.58966L3.28572 0.955038C4.49048 0.083237 5.91425 -0.243658 7.33806 0.192243C8.21425 0.410194 8.98093 0.846101 9.63808 1.39098L11.5 3.35251L13.3619 1.39098C15.0048 -0.24365 17.7428 -0.461638 19.7142 0.955039L21.7952 2.58966C22.4524 3.13453 22.8905 3.78841 23 4.66021C23 4.76919 23 4.87815 23 4.98712C23 5.9679 22.5619 6.83972 21.7952 7.38459L19.7142 9.01921C19.6047 9.12818 19.4952 9.12817 19.3857 9.23715C19.2762 9.23715 19.2762 9.34612 19.2762 9.34612L19.0571 9.12818L19.1666 9.34612C19.1666 9.34612 19.0571 9.45509 18.9476 9.45509C18.7286 9.56407 18.7286 9.56411 18.6191 9.67309L18.5095 9.67309C18.4 9.67309 18.2905 9.78206 18.1809 9.78206C17.6333 9.89103 17.1952 10 16.7571 10C15.4428 10 14.2381 9.45513 13.3619 8.58332L11.5 6.62174L9.63808 8.58332C8.65236 9.45513 7.44764 10 6.24288 10C5.14764 10 4.1619 9.67306 3.28571 9.01921L1.09524 7.38459C0.328571 6.83971 -2.60865e-07 5.9679 -2.17994e-07 4.98712Z" fill="#333333"/>
            </svg>
          </div>
          <h3 class="main-title text-center text-md-start">{{ settings.main_title }}</h3>
          <div class="d-flex align-items-center">
            _
            <svg width="23" height="10" viewBox="0 0 23 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.7 4.98712C20.7 4.76917 20.5905 4.55125 20.3714 4.44227L18.2904 2.80765C18.1809 2.69868 18.0714 2.69868 18.0714 2.69868C17.0857 2.04483 15.7714 2.26277 15.0048 3.02559L13.1429 4.98712L15.0048 6.94871L15.1143 7.05768C16.1 7.82051 17.4142 7.92948 18.2904 7.16665L20.481 5.53203C20.5905 5.42306 20.7 5.20507 20.7 4.98712ZM12.4857 4.98712L14.6762 2.69868C15.6619 1.82688 17.0857 1.60889 18.2904 2.26274C18.2904 2.37172 18.4 2.37171 18.5095 2.48069L20.7 4.11536C21.0286 4.33331 21.1381 4.6602 21.1381 4.98712C21.1381 5.31405 21.0286 5.64099 20.7 5.85895L18.5095 7.49356C17.5238 8.36536 15.881 8.36536 14.8952 7.49356L14.8952 7.38459C14.7857 7.38459 14.7857 7.27562 14.6762 7.27562L12.4857 4.98712ZM9.85713 4.98712L7.99524 3.02559C7.11905 2.15379 5.6952 2.04483 4.70952 2.80765L2.62857 4.44227C2.40952 4.55124 2.3 4.76917 2.3 4.98712C2.3 5.20507 2.40952 5.42306 2.51905 5.53203L4.70952 7.16665C5.6952 7.92948 7.11905 7.82051 7.99524 6.94871L9.85713 4.98712ZM1.86191 4.98712C1.86191 4.6602 1.97143 4.33331 2.3 4.11536L4.49048 2.48068C5.5857 1.60888 7.22855 1.71791 8.32379 2.69868L10.5143 4.98712L8.32379 7.27562C7.22855 8.36537 5.58569 8.47434 4.49048 7.49356L2.3 5.85894C1.97143 5.64099 1.86191 5.31405 1.86191 4.98712ZM22.5619 4.98712C22.5619 4.87815 22.5619 4.76919 22.5619 4.66021C22.4523 4.00636 22.1238 3.35252 21.5762 2.91662L19.3857 1.28195C17.6333 -0.025751 15.2238 0.192237 13.6905 1.71789L11.5 4.00633L9.30952 1.71789C8.7619 1.17301 7.99522 0.737102 7.22855 0.628126C6.02379 0.301201 4.6 0.519124 3.50476 1.28195L1.42381 2.91662C0.766668 3.4615 0.438097 4.2243 0.438097 4.98712C0.438097 5.74995 0.766668 6.5128 1.42381 7.05768L3.50476 8.6923C4.27143 9.23717 5.25716 9.56412 6.24288 9.56412C7.33811 9.56412 8.43333 9.12821 9.30952 8.25641L11.5 6.07689L13.6905 8.25641C14.5666 9.12821 15.6619 9.56412 16.7571 9.56412C17.1952 9.56412 17.6333 9.4551 17.9619 9.34612C18.1809 9.34612 18.2904 9.34612 18.2904 9.23715L18.5095 9.45509L18.4 9.23715C18.5095 9.23715 18.619 9.12818 18.7286 9.12818C18.8381 9.0192 18.9476 9.01921 18.9476 9.01921L19.0571 8.91024L19.1666 8.91024C19.2762 8.80126 19.3857 8.6923 19.3857 8.6923L21.5762 7.05768C22.2333 6.5128 22.5619 5.74995 22.5619 4.98712ZM-2.17994e-07 4.98712C-1.75123e-07 4.00635 0.328571 3.24351 1.09524 2.58966L3.28572 0.955038C4.49048 0.083237 5.91425 -0.243658 7.33806 0.192243C8.21425 0.410194 8.98093 0.846101 9.63808 1.39098L11.5 3.35251L13.3619 1.39098C15.0048 -0.24365 17.7428 -0.461638 19.7142 0.955039L21.7952 2.58966C22.4524 3.13453 22.8905 3.78841 23 4.66021C23 4.76919 23 4.87815 23 4.98712C23 5.9679 22.5619 6.83972 21.7952 7.38459L19.7142 9.01921C19.6047 9.12818 19.4952 9.12817 19.3857 9.23715C19.2762 9.23715 19.2762 9.34612 19.2762 9.34612L19.0571 9.12818L19.1666 9.34612C19.1666 9.34612 19.0571 9.45509 18.9476 9.45509C18.7286 9.56407 18.7286 9.56411 18.6191 9.67309L18.5095 9.67309C18.4 9.67309 18.2905 9.78206 18.1809 9.78206C17.6333 9.89103 17.1952 10 16.7571 10C15.4428 10 14.2381 9.45513 13.3619 8.58332L11.5 6.62174L9.63808 8.58332C8.65236 9.45513 7.44764 10 6.24288 10C5.14764 10 4.1619 9.67306 3.28571 9.01921L1.09524 7.38459C0.328571 6.83971 -2.60865e-07 5.9679 -2.17994e-07 4.98712Z" fill="#333333"/>
            </svg>
          </div>
        </div>
        <h2 class="text-center text-md-start">{{ settings.sub_title }}</h2>
        <p>{{ settings.desc }}</p>
        <div class="d-flex flex-column gap-3">
         {% for item in settings.features %}
         <div class="d-flex align-items-center gap-2">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.12891 7.1473L4.85538 10.8738L12.8717 3.45898" stroke="#00B74F" stroke-width="1.59706" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
             <span>{{ item.feature }}</span>

         </div>
         {% endfor %}
        </div>
        <div class="d-flex justify-content-between flex-wrap gap-3 d-none d-md-flex">
          {# price #}
          <div class="d-flex align-items-center gap-2 ">
            {% if settings.discountPrice %}
            <span class="old-price">{{ settings.price }}</span>
            <span class="discPrice">{{ settings.discountPrice }}</span>
            {% else %}
            <span class="price">{{ settings.price }}</span>
            {% endif %}
          </div>
          <a href="{{ settings.button_url }}" class="btn btn-primary btn  ">{{ settings.button_text }}</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="featured-image-home  d-flex justify-content-center align-items-center ">
        <img src="{{ settings.image }}" alt="{{ settings.main_title }}" class="w-100 h-100 object-fit-contain">
      </div>
      <div class="d-flex flex-column align-items-center mt-5 flex-wrap gap-3 d-flex d-md-none info">
        {# price #}
        <div class="d-flex align-items-center gap-2 ">
          {% if settings.discountPrice %}
          <span class="old-price">{{ settings.price }}</span>
          <span class="discPrice">{{ settings.discountPrice }}</span>
          {% else %}
          <span class="price">{{ settings.price }}</span>
          {% endif %}
        </div>
        <a href="{{ settings.button_url }}" class="btn btn-primary btn  ">{{ settings.button_text }}</a>
      </div>
    </div>
  </div>
 </div>
  
</section>


<script>
console.log({{ settings | json_encode | raw }});
</script>
{% schema %}
{
  "name": {
    "ar": "منتج مميز",
    "en": "Featured Product"
  },
  "icon": "fal fa-presentation",
  "display": true,
  "settings": {
    "main_title": {
      "type": "text",
      "label": {
        "ar": "العنوان الرئيسي",
        "en": "Title"
      }
    },
    "sub_title": {
      "type": "text",
      "label": {
        "ar": "العنوان الفرعي",
        "en": "Title"
      }
    },
    "desc": {
      "type": "text",
      "label": {
        "ar": "الوصف",
        "en": "Title"
      }
    },
    "features": {
      "type": "list",
      "label": {
        "ar": "المميزات",
        "en": "features"
      },
      "settings":{
        "feature": {
          "type": "text",
          "label": {
            "ar": "المميزات",
            "en": "Feature"
          }
        }
      }
    },
  
    "price": {
      "type": "text",
      "label": {
        "ar": "السعر",
        "en": "price"
      }
    },
    "discountPrice": {
      "type": "text",
      "label": {
        "ar": "السعر بعد التخفيض",
        "en": "price after discount"
      }
    },
    "image": {
      "type": "image",
      "label": {
        "ar": "صورة",
        "en": "Image"
      }
    },
    "button_text": {
      "type": "text",
      "label": {
        "ar": "نص الزر",
        "en": "Button text"
      }
    },
    "button_url": {
      "type": "url",
      "label": {
        "ar": "رابط الزر",
        "en": "Button url"
      }
    }
  }
}
{% endschema %}

