 
 <section-id="{{ sectionId }}"
         data-lg-scroll-offset="130"
         data-md-scroll-offset="130"
         data-sm-scroll-offset="94"
         class="ss">
 <div class="swiper custom-main-slider">
      <div class="swiper-wrapper">
        {% for key, slide in settings.slider %}
          <div class="swiper-slide">
               <a href="{% if slide.url %}{{ slide.url }}{% else %}/{% endif %}" style="background-image: url('{{ slide.background_image }}');" class="main-link d-flex justify-content-between align-items-center position-relative">
                   {# Overlay #}
                   <div class="overlay"></div>
                   <div class="container d-flex  justify-content-end align-items-center ">

                      {# content #}
                      <div class="d-flex flex-column align-items-center align-items-lg-start justify-content-center justify-content-lg-start gap-5">
                        {% if slide.image2 %}
                            <img class="imageContent mb-0 mb-lg-4" src="{{ slide.image2 }}"
                                alt="{{ slide.title }}" >
                          {% endif %}
                          <h1>
                            {{ slide.title }}
                          </h1>
                          <p class="text-center text-lg-start" >
                            {{ slide.des }}
                          </p>
                          {% if slide.button_text %}
                          <a href="{{ slide.url }}" class="btn btn-primary">{{ slide.button_text }}</a>
                          {% endif %}

                      </div>
                   </div>
               </a>
          </div>
        {% endfor %}
      </div>
      <div class="container">
        <div class="swiper-pagination"></div>
      </div>

    </div>
</section>
<script>
     document.addEventListener('DOMContentLoaded', () => {
                  const swiperContainerS = document.querySelector('.custom-main-slider');
if(swiperContainerS){

  let swiper = new Swiper('.custom-main-slider', {
  pagination: {
    el: '.swiper-pagination',
    clickable: true,
    dynamicBullets: true,
    dynamicMainBullets: 5
  },
    loop: true,  
  }); 
}else{
  console.log("error from main slider");
}
  
  });
</script>


{% schema %}
{
  "name": {
    "ar": "شرائح الصور",
    "en": "Slider"
  },
  "icon": "fal fa-presentation",
  "display": true,
  "settings": {
    "slider": {
      "type": "list",
      "noLabel": true,
      "maxItems": 4,
      "settings_label": {
        "ar": "الصورة",
        "en": "Picture"
      },
      "settings": {
        "title": {
          "type": "text",
          "label": {
            "ar": "العنوان",
            "en": "Title"
          }
        },
        "des": {
          "type": "text",
          "label": {
            "ar": "النص",
            "en": "Description"
          }
        },
        "background_image": {
          "type": "image",
          "label": {
            "ar": "صورة الخلفية",
            "en": "Background Image"
          }
        },
        "background_image_mobile": {
          "type": "image",
          "label": {
            "ar": "صورة الخلفية في الموبايل",
            "en": "Background Image in Mobile"
          }
        },
        "url": {
          "type": "url",
          "label": {
            "ar": "الرابط",
            "en": "Link"
          }
        },
        "button": {
          "type": "text",
          "label": {
            "ar": "ادخل اسم الزرار",
            "en": "Button Text"
          }
        },
        "buttonUrl": {
          "type": "url",
          "label": {
            "ar": "ادخل رابط الزرار",
            "en": "Button URL"
          }
        }
      }
    }
  }
}
{% endschema %}

