 
 <section-id="{{ sectionId }}"
         data-lg-scroll-offset="130"
         data-md-scroll-offset="130"
         data-sm-scroll-offset="94"
         class="ss">
         <div class="ourFeatures_home">
           <div class="container py-5">
              <h2 class="mb-5 section-title">{{ settings.title }}</h2>
              <div class="swiper ourFeatures_slider">
                  <div class="swiper-wrapper">
                    {% for key, slide in settings.slider %}
                      <div class="swiper-slide">
                                      {% if slide.video %}
                                        <div class="video-box position-relative">                          
                                          <video controls class="w-100 h-100 myVideo">
                                              <source src="{{ slide.video }}" type="video/mp4">
                                              Your browser does not support the video tag.
                                          </video>
                                          <button class="playButton position-absolute mx-4 my-4 start-0 top-0" >
                                                <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 1.5L1 14.5" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                                                <path d="M9 1.5L9 14.5" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                                                </svg>

                                            </button>
                                        </div>
                                        <div class="content d-flex flex-column gap-3  align-items-center justify-content-center mt-4">
                                          <h3>{{ slide.title }}</h3>
                                          <p class="text-center">{{ slide.des }}</p>
                                        </div>
                                    
                                    {% elseif slide.image %}
                                       <div class="image-box">
                                         <img src="{{ slide.image }}" alt="{{ slide.title }}" class="w-100 h-100 object-fit-contain">
                                       </div>
                                       <div class="content d-flex flex-column gap-3 align-items-center justify-content-center mt-4">
                                          <h3 class="text-center">{{ slide.title }}</h3>
                                          <p class="text-center">{{ slide.des }}</p>
                                       </div>
                                    {% endif %}
                      </div>
                    {% endfor %}
                  </div>
               

              </div>
           </div>
         </div>
</section>
<script>
     document.addEventListener('DOMContentLoaded', () => {
        const featuresTag = document.querySelector('.ourFeatures_slider');
        if(featuresTag){

          let swiper = new Swiper('.ourFeatures_slider', {
            slidesPerView: 1.1,
            spaceBetween: 30,
            loop: true,
            breakpoints: {
              768: {
                slidesPerView: 3,
                spaceBetween: 10
              }
            }
          }); 
        }else{
          console.log("error from main slider");
        }
     const videos = document.querySelectorAll('.myVideo');
    const playButtons = document.querySelectorAll('.playButton');

    playButtons.forEach((button, index) => {
        const video = videos[index];
        if (!video) {
            console.error(`No video found for button at index ${index}`);
            return;
        }
        console.log('Video:', video); // Debugging: Check if video is found
        video.controls = false;
        const playIcon = `
            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1.5L1 14.5" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M9 1.5L9 14.5" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
            </svg>`;
        const pauseIcon = `
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.1266 8.92883L4.64377 13.8508C3.92387 14.2681 3 13.7628 3 12.9216V3.07765C3 2.23776 3.92254 1.73117 4.64377 2.14978L13.1266 7.07175C13.2903 7.16524 13.4265 7.30037 13.5211 7.46344C13.6158 7.62651 13.6657 7.81172 13.6657 8.00029C13.6657 8.18885 13.6158 8.37407 13.5211 8.53714C13.4265 8.70021 13.2903 8.83534 13.1266 8.92883Z" fill="black"/>
            </svg>`;

        button.innerHTML = playIcon;

        button.addEventListener('click', () => {
            if (video.paused) {
                video.play();
                button.innerHTML = pauseIcon;
            } else {
                video.pause();
                button.innerHTML = playIcon;
            }
        });

        
    });


  
  });
</script>


{% schema %}
{
  "name": {
    "ar": "مميزاتنا",
    "en": "Our Features"
  },
  "icon": "fal fa-presentation",
  "display": true,
  "settings": {
    "title": {
      "type": "text",
      "label": {
        "ar": "العنوان",
        "en": "Title"
      }
    },
    "slider": {
      "type": "list",
      "noLabel": true,
      "maxItems": 4,
      "settings_label": {
        "ar": "الصورة",
        "en": "Picture"
      },
      "settings": {
        "title": {
          "type": "text",
          "label": {
            "ar": "العنوان",
            "en": "Title"
          }
        },
        "des": {
          "type": "text",
          "label": {
            "ar": "النص",
            "en": "Description"
          }
        },
        "image": {
          "type": "image",
          "label": {
            "ar": "صورة",
            "en": "Image"
          }
        },
        "video": {
          "type": "video",
          "label": {
            "ar": "فيديو",
            "en": "Video"
          }
        }
      }
    }
  }
}

{% endschema %}
