<header section-id="{{ sectionId }}" class='d-flex flex-column headerContainer'>
    <form action="/customer/lang-shipping-country" method="POST" id="lang-shipping-country" class="position-absolute">
                    <input type="hidden" name="_token" value="{{ csrf_token }}" />
                    <input id="country" type="hidden" value="{{session.lang.code}}" name="country" />
                    <input id="language" type="hidden" name="language" value="ar" />
                    <input id="redirect-to" type="hidden" name="redirect_to" value="{{ requestUri() }}" />
                    <input id="input-change-session-currency" type="hidden" name="currency" value="{{ session.currency.code }}">
                    <input id="input-change-session-currency-symbol" type="hidden" name="currency_symbol" value="{{ session.currency.symbol }}">
    </form>
    {% include 'template_for_store_messages' %}
    {% include 'header-announcement-bar.twig' with { 'ab_settings' : settings } %}

    {# header mobile and desktop #}
    {% include 'Main-Header.twig'  %}
    {# For Search #}
    {% include 'Search-Header.twig' with { 'ab_settings' : settings }  %}
    {# Sidebar #}
    {% include 'SidebarHeader.twig' %}


</header>
<script>

   //  fetchBrands();
 function fetchBrands (){
   zid.store.product.fetchCategories().then((data)=>{
    // console.log(data);
     const fetchBrand = data.data.categories.find((cat)=> cat.id == 1104866 || cat.name == "brand");
     const brandTag = document.querySelector(".offcanvas_Search .search_brands");
     let tempBrands = '';
     if(fetchBrand){
      fetchBrand.sub_categories.forEach((brand)=>{
        tempBrands += `<a class="d-flex flex-column gap-3 justify-content-center align-items-center searchBrand" href="${brand.url}">
                    <div class="icon">
                      <img src="${brand.image_full_size}" />
                    </div>
                   <h6 class="text-center">${brand.name}</h6>     
        </a>`
      })
     }
     brandTag.innerHTML = tempBrands;
     
  }).catch((error)=>{
    console.log(error);
  })
 }
//  fetch suggestions
 function fetchSuggestions (){
   zid.store.product.fetchAll(null,{}).then((data)=>{
    // console.log(data);
     const suggestionsTag = document.querySelector(".offcanvas_Search .suggestions");
     let productSuggestions = '';
     
        console.log(data);
      data.data.products.data.slice(0,4).forEach((pr)=>{
        productSuggestions += `<a href="${pr.html_url}">${pr.name}</a>`
      })
     

     suggestionsTag.innerHTML = productSuggestions;
     
  }).catch((error)=>{
    console.log(error);
  })
 }

  //  handle search
  function getProductFromSearch(value){
     if(!value){
       document.querySelector(".offcanvas_Search .search_resultsGrid").innerHTML = '';
       document.querySelector(".offcanvas_Search .title-search-result").textContent = " ";
       return;
     }
       zid.store.product.fetchAll(null,{search:value}).then((data)=>{
     const searchTag = document.querySelector(".offcanvas_Search .search_resultsGrid");
     let productFromSearch = '';
     if(data.data.products.data.length > 0){

       data.data.products.data.forEach((pr)=>{
          productFromSearch += `
           <a href="${pr.html_url}" class="search-card-box d-flex align-items-center gap-4">
              <div class="search-image">
                <img src="${pr.images[0].image.full_size}" alt="${pr.name}" />
              </div>
              <div class="search-info">
               <h6>${pr.name}</h6>
               <div class="d-flex gap-2 mt-2 priceContainer">
                 <span class="${pr.formatted_sale_price ? "old-price":"price"}">${pr.formatted_price}</span>
                 ${pr.formatted_sale_price? `<span class="sale-price">${pr.formatted_sale_price}</span>`: ""}
               </div>
              </div>
           </a>
          `;
        })
       
  
       searchTag.innerHTML = productFromSearch;
       document.querySelector(".offcanvas_Search .title-search-result").textContent = "{{ locals.search_result }}";
     }
     
  }).catch((error)=>{
    console.log(error);
  })
  }
  function handleSearch(){
    const inputElement = document.getElementById('SearchInput');

    inputElement.addEventListener('keyup', function(event) {
        const inputValue = event.target.value;
        getProductFromSearch(inputValue);
    });
  };

 document.addEventListener("DOMContentLoaded",()=>{
  fetchBrands();
  fetchSuggestions();
  handleSearch();
 });
    </script>
{% schema %}
{
  "name": {
    "ar": "اعلى الصفحة",
    "en": "Header"
  },
  "icon": "fa fa-square",
  "display": true,
  "settings": {
    "announcement_bar": {
      "type": "fieldset",
      "label": {
        "ar": "شريط التنبيهات",
        "en": "Announcement bar"
      },
      "icon": "font_awesome",
      "expandable": true,
      "settings": {
        "display": {
          "type": "checkbox",
          "label": {
            "ar": " ",
            "en": " "
          },
          "option": {
            "ar": "إظهار",
            "en": "Display menu"
          },
          "noLabel": true
        },
        "text": {
          "type": "text",
          "label": {
            "ar": "النص",
            "en": "Text"
          }
        },
        "url": {
          "type": "url",
          "label": {
            "ar": "الرابط",
            "en": "Link"
          },
          "info": {
            "ar": "في حال كان الحقل فارغا لن يتم الانتقال للرابط عند الضغط",
            "en": "This is an info text sample here"
          }
        },
        "page_display": {
          "type": "select",
          "label": {
            "ar": "عرض شريط التنبيهات في",
            "en": "Display announcement bar in"
          },
          "options": [
            {
              "value": "all",
              "label": {
                "ar": "جميع الصفحات",
                "en": "all pages"
              }
            },
            {
              "value": "home",
              "label": {
                "ar": "الصفحة الرئيسية ففط",
                "en": "home page only"
              }
            }
          ],
          "default": "all"
        },
        "background_color": {
          "type": "color",
          "label": {
            "ar": "لون الخلفية",
            "en": "Text color"
          }
        },
        "text_color": {
          "type": "color",
          "label": {
            "ar": "لون النص",
            "en": "Text color"
          }
        }
      }
    },
    "header": {
      "type": "fieldset",
      "label": {
        "ar": "رأس الصفحة",
        "en": "Header"
      },
      "icon": "font_awesome",
      "expandable": true,
      "settings": {
        "logo": {
          "type": "image",
          "label": {
            "ar": "الشعار",
            "en": "Logo"
          },
          "info": {
            "ar": "ارفع صورة بحجم 750 * 750 ",
            "en": "This is an info text sample here"
          }
        },
        "logo_mobile": {
          "type": "image",
          "label": {
            "ar": " الشعار للجوال (اختياري)",
            "en": "Logo mobile (optional)"
          },
          "info": {
            "ar": "ارفع صورة بحجم 322 * 750 ",
            "en": "This is an info text sample here"
          }
        },
        "options": {
          "type": "checkboxes",
          "label": {
            "ar": "الخيارات",
            "en": "Options"
          },
          "options": [
            {
              "value": "hide_search_bar",
              "label": {
                "ar": "إخفاء شريط البحث",
                "en": "Hide search bar"
              }
            },
            {
              "value": "hide_language",
              "label": {
                "ar": "إخفاء اللغة",
                "en": "Hide language"
              }
            },
            {
              "value": "hide_country",
              "label": {
                "ar": "إخفاء اسم الدولة",
                "en": "Hide country"
              }
            }
          ]
        },
        "search_placeholder": {
          "type": "text",
          "label": {
            "ar": "تلميح شريط البحث",
            "en": "Search placeholder"
          }
        }
      }
    }
  }
}
{% endschema %}
