<div class="offcanvas offcanvas-end cart_sidebar" tabindex="-1" id="cartSidebar" aria-labelledby="offcanvasRightLabel">
  <div class="d-flex justify-content-between align-items-center py-4 px-3 cartSidebarHead">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">{{ locals.cart_page.sall_content }}</h5>
    <button type="button"  data-bs-dismiss="offcanvas" aria-label="Close">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.41877 4.83319C6.2055 4.63447 5.92343 4.52628 5.63198 4.53143C5.34053 4.53657 5.06245 4.65464 4.85633 4.86076C4.65021 5.06687 4.53215 5.34495 4.527 5.6364C4.52186 5.92786 4.63005 6.20993 4.82877 6.42319L10.4088 12.0032L4.82877 17.5832C4.71824 17.6862 4.62958 17.8104 4.56809 17.9484C4.50661 18.0864 4.47354 18.2354 4.47088 18.3864C4.46821 18.5375 4.496 18.6875 4.55258 18.8276C4.60916 18.9677 4.69338 19.0949 4.80021 19.2017C4.90704 19.3086 5.03429 19.3928 5.17437 19.4494C5.31445 19.506 5.4645 19.5337 5.61555 19.5311C5.7666 19.5284 5.91557 19.4953 6.05357 19.4339C6.19157 19.3724 6.31577 19.2837 6.41877 19.1732L11.9988 13.5932L17.5788 19.1732C17.6818 19.2837 17.806 19.3724 17.944 19.4339C18.082 19.4953 18.2309 19.5284 18.382 19.5311C18.533 19.5337 18.6831 19.506 18.8232 19.4494C18.9632 19.3928 19.0905 19.3086 19.1973 19.2017C19.3042 19.0949 19.3884 18.9677 19.445 18.8276C19.5015 18.6875 19.5293 18.5375 19.5267 18.3864C19.524 18.2354 19.4909 18.0864 19.4294 17.9484C19.3679 17.8104 19.2793 17.6862 19.1688 17.5832L13.5888 12.0032L19.1688 6.42319C19.3675 6.20993 19.4757 5.92786 19.4705 5.6364C19.4654 5.34495 19.3473 5.06687 19.1412 4.86076C18.9351 4.65464 18.657 4.53657 18.3655 4.53143C18.0741 4.52628 17.792 4.63447 17.5788 4.83319L11.9988 10.4132L6.41877 4.83319Z" fill="#0A0C10"/>
        </svg>
    </button>
  </div>
  <div class=" cart-view px-4 py-2">
     <div
      class="cart-empty pt-5 pb-5 d-none"
    >
      <div class="d-flex flex-column align-items-center">
        <span
          class="icon-shopping_cart_black_36dp-1-1 theme-title-primary"
          style="font-size: 90px"
        >
          <span class="path1"></span><span class="path2"></span>
        </span>
        <h1 class="mt-3">{{ locals.cart_list_empty }}</h1>
        <div class="mt-3">
          <a href="/products" class="btn btn-outline-primary btn-lg btn-block">
            {{ locals.cart_back_to_store }}
          </a>
        </div>
      </div>
    </div>

      <div
      class="row cart-products-with-totals align-items-start g-4"
    >
     <div class="col-12 ">
        <div class="section-cart-products">
          <div class="custom-cart border radius30 pb-2">
            {# header #}
            <div class="header_cart d-flex px-5 py-3">
               <div class="flex-1">
                <span>{{ locals.cart_page.product }}</span>
               </div>
               <div class="flex-1 d-flex justify-content-between d-none d-md-flex">
                <span class="flex-1">{{ locals.cart_page.quantity }}</span>
                <span class="flex-1">{{ locals.cart_page.price }}</span>
               </div>
            </div>
            <div class="myCart myCart d-flex flex-column gap-3 pt-2 px-2"></div>
          </div>
          <div class="template_for_cart_products_list">
            {# {{ template_for_cart_products_list }} #}
          </div>
{# 
          {% if cart.gift_card_details | length > 0 %}
          <div class="cart-gift-card">
            <p class="font-weight-bold mb-2">
              <img
                src="{{ asset_url }}gift_icon.png"
                style="display: inline-block"
              />
              {{ locals.cart_send_as_gift_info }}
            </p>
            <p class="mb-2">
              <span
                >{{ locals.products_list_filter_price_from }}:
                {{ cart.gift_card_details.sender_name }}</span
              >
              <span class="mx-2"
                >{{ locals.products_list_filter_price_to }}:
                {{ cart.gift_card_details.receiver_name }}</span
              >
            </p>
            {% if cart.gift_card_details.gift_message | length > 0 %}
            <p class="mb-0">
              <span>{{ locals.cart_gift_card_info_message }}: </span>
              {{ cart.gift_card_details.gift_message }}
            </p>
            {% endif %}
          </div>
          {% endif %} #}

        </div>
      </div>
      <div class="col-12  pb-3 px-3 product-table">
         <div class="head d-flex justify-content-between flex-wrap gap-3 px-4 py-3">
            <span>{{ locals.cart_page.desc }}</span>
            <span>{{ locals.cart_page.value }}</span>
         </div>
        <div class="cart-totals-div d-flex flex-column gap-5 px-3 py-3">

          {% for cartTotal in cart.totals %}
          <div
            class="cart-product-row-wrapper cart-totals-row-wrapper border-0 d-flex justify-content-between gap-3 m-0 p-0"
          >
            <div
              class="{% if cartTotal.code == 'total' %} font-weight: 900;{% endif %} name"
            >
              {{ cartTotal.title }}
              {% if cartTotal.code == 'total' and
              store.is_cart_total_vat_included %}&nbsp;<small>{{
                locals.sys_lbl_cart_includes_vat
              }}</small
              >{% endif %}
            </div>
            <div class="{% if cartTotal.code == 'total' %} font-weight: 900;{% endif %} value">
              {{ cartTotal.value_string }}
            </div>
          </div>
          {% endfor %}
           
        </div>

        <div>{{ template_for_cart_payments_widget }}</div>

        <div class="coupon-form mt-5">
          <form>
            <div class="form-group mx-auto">
              <div class="d-flex h-100 gap-3 justify-content-between">
                <div class="d-flex flex-column gap-3 flex-2 mb-3">
                    <input
                    class="form-control send-coupon  radius30"
                    type="text"
                    placeholder="{{ locals.coupon_discount_enter }}"
                    />
                    <span class="message_coupon mb-3" style="font-size:12px;font-weight:400;"></span>
                </div>
                <button
                  type="button"
                  class="btn btn-primary d-flex justify-content-center radius30"
                  onclick="sendCoupon()"
                >
                  <img
                    class="send-coupon-progress d-none"
                    src="{{ asset_url }}spinner.gif"
                    width="15"
                    height="15"
                  />
                  {{ locals.coupon_discount_submit }}
                </button>
              </div>
            </div>
          </form>

          {# {% if cart.coupon.message %}
          <div class="message-coupon alert alert-primary" role="alert">
            <span>{{ cart.coupon.message }}</span
            >&nbsp;
            <a onclick="deleteCoupon()" style="color: inherit; cursor: pointer">
              <span class="icon-trash-alt"></span>
              <img
                class="delete-coupon-progress d-none"
                src="{{ asset_url }}spinner.gif"
                width="15"
                height="15"
              />
            </a>
          </div>
          {% endif %} #}
        </div>

        <div
          class="cart-discount-rule-wrapper free-shipping-rule-section mt-5 {% if cart.fee_shipping_discount_rules %}d-block{% else %}d-none{% endif %}"
        >
          <div class="d-flex align-items-center">
            <div class="message flex-grow-1 free-shipping-rule-message">
              {{
                cart.fee_shipping_discount_rules.conditions_subtotal.status.message
              }}
            </div>
            <div class="discount-progress flex-shrink-0">
              <span
                class="free-shipping-rule-done {% if cart.fee_shipping_discount_rules.conditions_subtotal.status.code == 'applied' %}d-inline-block{% else %}d-none{% endif %}"
              >
                <span
                  style="font-size: 28px"
                  class="icon-done text-color-primary"
                ></span>
              </span>
            </div>
          </div>
          <div
            class="discount-progress-linear"
            class="{% if cart.fee_shipping_discount_rules.conditions_subtotal.status.code == 'min_not_reached' %}d-block{% else %}d-none{% endif %}"
          >
            <div
              class="progress-bar free-shipping-rule-progress"
              style="width: {{
                cart.fee_shipping_discount_rules.conditions_subtotal
                  .products_subtotal_percentage_from_min
              }}%"
            >
              {% if
              cart.fee_shipping_discount_rules.conditions_subtotal.status.code
              == 'applied' %}
              <span>{{ locals.coupon_discount_free_shipping }}</span>
              {% else %}
              <span
                >{{
                  cart.fee_shipping_discount_rules.conditions_subtotal.products_subtotal_percentage_from_min
                }}%</span
              >
              {% endif %}
            </div>
          </div>
        </div>

        <div class="d-flex flex-column gap-4 mt-5 buttons-footer">
          <div class="conBtn">
            {% if store.availability.closed_now %}
            <a
              href="#"
              class="btn btn-lg btn-block btn-disabled w-100 continue-shop"
            >
              {{ locals.cart_continue_to_purchase }}
            </a>
            {% else %}
            <a
              href="{% if customer %}/checkout/choose-address-and-shipping{% else %}/auth/login?redirect_to=/checkout/choose-address-and-shipping{% endif %}"
              class="btn btn-primary btn-lg btn-block w-100 continue-shop radius30"
            >
              {{ locals.cart_continue_to_purchase }}
            </a>
            {% endif %}
          </div>

          {% if store.gift_order_settings.is_gift_order_enabled == '1' %}
          <div class="card border-0 text-body">
            {{ template_for_cart_gifts_widget }}
          </div>
          {% endif %}

          <div class="conBtn">
            <a
              href="/products"
              class="btn btn-outline-primary btn-lg btn-block w-100 return-store radius30"
            >
              {{ locals.cart_back_to_store }}
            </a>
          </div>
        </div>
      </div>

     
      
    </div>
  </div>
</div>

{% block footer_scripts %}
{# <script type="text/javascript" src="{{ asset_url ~ 'toastr.min.js' }}"></script> #}

{{ cart_view_scripts | raw }}
<script>

    // $(document).ready(function() {
    //     addDeleteProgressImage()
    // });

    // function addDeleteProgressImage(){
    //     $('.cart-product-delete a .prefix', document).addClass('d-none');
    //     $('.cart-product-delete a .prefix', document).html('<img class="send-coupon-progress" src="{{ asset_url }}spinner.gif" width="15" height="15"/>');
    // }

    // $(document).on('click','.cart-product-delete a', function(event) {
    //     $('.icon-delete', event.currentTarget).addClass('d-none');
    //     $('.prefix',event.currentTarget).removeClass('d-none');
    // });

    function sendCoupon() {
        if(!$('.send-coupon-progress').hasClass('d-none'))
            return;

        $('.send-coupon-progress').removeClass('d-none');
        zid.store.cart.redeemCoupon($('.send-coupon').val())
            .then(function (response) {
                if(response.status  === 'success'){
                    document.querySelector(".cart-view .message_coupon").textContent = "{{ locals.cart_page.copun_success }}";
                    document.querySelector(".cart-view .message_coupon").style.color = "#03A481EE";
                    document.querySelector(".cart-view .send-coupon").style.borderColor = "#03A481EE";
                    window.location.reload();
                }else{
                    document.querySelector(".cart-view .message_coupon").textContent = "{{ locals.cart_page.copun_fail }}";
                    document.querySelector(".cart-view .message_coupon").style.color = "#FF1414EE";
                    document.querySelector(".cart-view .send-coupon").style.borderColor = "#FF1414EE";
               


                }
                     setTimeout(function() {
                        document.querySelector(".cart-view .message_coupon").textContent = "";
                        document.querySelector(".cart-view .send-coupon").style.borderColor = "#EEEEEEEE";
                    }, 2000);
                $('.send-coupon-progress').addClass('d-none');
            }).catch(function (err) {
                $('.send-coupon-progress').addClass('d-none');
            })
    }

    function deleteCoupon() {
        if(!$('.delete-coupon-progress').hasClass('d-none'))
            return;

        $('.delete-coupon-progress').removeClass('d-none');
        zid.store.cart.removeCoupon().then(function (response) {
            if(response.status  === 'success'){
                // toastr.success('{{ locals.sent_successfully }}', null)
                window.location.reload();
            }else{
                // toastr.error(response.data.message, '{{ locals.sorry }}')
            }
            $('.delete-coupon-progress').addClass('d-none');
        })
    }


    function cartProductsHtmlChanged(html, cart){
        if(cart.products_count <= 0){
            $('.cart-products-with-totals').addClass('d-none');
            $('.cart-empty').removeClass('d-none');
            return;
        }else{
            $('.cart-products-with-totals').removeClass('d-none');
            $('.cart-empty').addClass('d-none');
        }


        $('.template_for_cart_products_list').html(html);

        if(cart &&  cart.totals){
            var strCartTotlas = '';
            for(var i = 0; i < cart.totals.length; i++){
                var cartTotal = cart.totals[i];

                var totalStyle = '';

                if(cartTotal.code === 'total'){
                    totalStyle = 'font-weight: bold; color: var( --primary-color)';
                }

                var vat_included = '';
                if(cartTotal.code === 'total'){

                    var is_cart_total_vat_included = {{ store.is_cart_total_vat_included ? 'true' : 'false' }};
                    var local_sys_lbl_cart_includes_vat = '{{ locals.sys_lbl_cart_includes_vat }}';

                    if(is_cart_total_vat_included){
                        vat_included = '&nbsp;<small>'+local_sys_lbl_cart_includes_vat+'</small>';
                    }

                }


                strCartTotlas += '<div class="cart-product-row-wrapper cart-totals-row-wrapper">' +
                    '                                <div class="flex-grow-1">'+cartTotal.title+vat_included+'</div>' +
                    '                                <div class="flex-shrink-0" style="width: 30%; '+totalStyle+'">'+cartTotal.value_string+'</div>' +
                    '                            </div>'
            }

            $('.cart-totals-div').html(strCartTotlas);
        }

        if(cart.fee_shipping_discount_rules){
            $('.free-shipping-rule-section').removeClass('d-none')
            $('.free-shipping-rule-message').html(cart.fee_shipping_discount_rules.conditions_subtotal.status.message)
            $('.free-shipping-rule-progress').css('width', `${cart.fee_shipping_discount_rules.conditions_subtotal.products_subtotal_percentage_from_min}%`)
            if (cart.fee_shipping_discount_rules.conditions_subtotal.status.code === 'applied') {
                $('.free-shipping-rule-done').removeClass('d-none')
                $('.free-shipping-rule-read-more').addClass('d-none')
                $('.free-shipping-rule-progress').html('{{ locals.coupon_discount_free_shipping }}')
            }else {
                $('.free-shipping-rule-done').addClass('d-none')
                $('.free-shipping-rule-read-more').removeClass('d-none')
                $('.free-shipping-rule-progress').html(`${cart.fee_shipping_discount_rules.conditions_subtotal.products_subtotal_percentage_from_min}%`)
            }
        }else{
            $('.free-shipping-rule-section').addClass('d-none')
        }


        setCartTotalAndBadge(cart);
        addDeleteProgressImage();
    }

    // fetch data cart
    async function fetchCartProducts(){
        $('.cart_sidebar .cart-empty').addClass('d-none');
        try {

            let cartResponse = await zid.store.cart.fetch();
            if (cartResponse.status !== 'success') return false;
            let cart = cartResponse.data.cart;
            if(cart.products_count <= 0){
              $('.cart_sidebar .cart-products-with-totals').addClass('d-none');
              $('.cart_sidebar .cart-empty').removeClass('d-none');
              
              return;
            }
                    $('.cart_sidebar .cart-empty').addClass('d-none');

            $('.cart-products-with-totals').removeClass('d-none');

            console.log("cart $$$$$");
            console.log(cart);
            createCartProducts(cart.products);
            updateTotalCart(cart);
            return cart;
        } catch (error) {
            // toastr.error(error.response.message, null)
        }  

    }
    function createCartProducts(products){

         let allProducts = '';

         products?.forEach(product =>{
            //  let options = '';
            //  for (let x = 1; x <= 100; x++) {
            //        options += `<option value="${x}" ${x === product.quantity ? 'selected' : ''}>${x}</option>`;
            //  }
            console.log(product);
              allProducts += `
             <div class="d-flex flex-column flex-md-row cart-product py-3 align-items-center border radius30  px-3" data-product="${product.id}">
                <div class="flex-1 d-flex align-items-center gap-4 w-100">
                     <button type="button" class="d-block d-md-none" onclick="deleteProduct(${product.id})">
                        <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.55845 4.00865V14.437C2.55834 14.7348 2.61692 15.0297 2.73083 15.3048C2.84474 15.58 3.01176 15.83 3.22234 16.0406C3.43292 16.2512 3.68293 16.4182 3.95809 16.5321C4.23324 16.646 4.52815 16.7046 4.82595 16.7045H11.1743C11.7754 16.7045 12.352 16.4657 12.7771 16.0406C13.2021 15.6155 13.441 15.039 13.441 14.4378V4.00781M0.745117 4.00865H15.2551" stroke="#E11717" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.2793 4.0099V2.64906C5.2793 2.47039 5.3145 2.29348 5.3829 2.12842C5.4513 1.96336 5.55155 1.8134 5.67793 1.6871C5.8043 1.5608 5.95433 1.46064 6.11943 1.39235C6.28452 1.32405 6.46146 1.28895 6.64013 1.28906H9.36013C9.5388 1.28895 9.71574 1.32405 9.88084 1.39235C10.0459 1.46064 10.196 1.5608 10.3223 1.6871C10.4487 1.8134 10.549 1.96336 10.6174 2.12842C10.6858 2.29348 10.721 2.47039 10.721 2.64906V4.0099M6.1868 13.1574V8.6249M9.8143 13.1574V8.6249" stroke="#E11717" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                     </button>
                     <div class="cart_product_Img  d-flex justify-content-center align-items-center">
                        <img src="${product.images[0].thumbs.medium}" alt="${product.name}" class="object-fit-contain">
                    </div>
                    <div class="d-flex flex-column gap-3">
                        
                        <div class="cart_product_name">
                            <a href="${product.url}">${product.name}</a>
                        </div>
                        <div class="inptContainer position-relative d-block d-md-none">
                        <button type="button" class="increase_btn position-absolute start-0 top-50 translate-middle p-0 mx-4" onclick="updateProductCart(${product.id},${product.quantity + 1})">
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1033_20933)">
                                <path d="M8.33301 3.83203V13.1654" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M3.66577 8.5H12.9991" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1033_20933">
                                <rect width="16" height="16" fill="white" transform="translate(0.333008 0.5)"/>
                                </clipPath>
                                </defs>
                                </svg>
                        </button>
                        <input type="number" value="${product.quantity}" onchange="updateProductCart(${product.id},this.value)" data-cart-product-id="${product.id}" class="w-100"/>
                        <button type="button" class="decrease_btn position-absolute end-0 top-50 translate-middle p-0" onclick="updateProductCart(${product.id},${product.quantity - 1})">
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1033_20927)">
                                <path d="M3.66577 8.5H12.9991" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1033_20927">
                                <rect width="16" height="16" fill="white" transform="translate(0.333008 0.5)"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </button>
                      </div>
                    </div>
                </div>
                <div class="flex-1 d-flex justify-content-between align-items-center d-none d-md-flex gap-2">
                   <div class="flex-1">
                     <div class="inptContainer position-relative">
                        <button type="button" class="increase_btn position-absolute start-0 top-50 translate-middle p-0 mx-4" onclick="updateProductCart(${product.id},${product.quantity + 1})">
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1033_20933)">
                                <path d="M8.33301 3.83203V13.1654" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M3.66577 8.5H12.9991" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1033_20933">
                                <rect width="16" height="16" fill="white" transform="translate(0.333008 0.5)"/>
                                </clipPath>
                                </defs>
                                </svg>
                        </button>
                        <input type="number" value="${product.quantity}" onchange="updateProductCart(${product.id},this.value)" data-cart-product-id="${product.id}" class="w-100"/>
                        <button type="button" class="decrease_btn position-absolute end-0 top-50 translate-middle p-0" onclick="updateProductCart(${product.id},${product.quantity - 1})">
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1033_20927)">
                                <path d="M3.66577 8.5H12.9991" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1033_20927">
                                <rect width="16" height="16" fill="white" transform="translate(0.333008 0.5)"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </button>
                      </div>
                   </div>
                   <span class="total-string flex-1 d-none d-md-block">${product.total_string}</span>
                </div>
                <div class="d-flex d-md-none border p-2 justify-content-between flex-wrap gap-3 section_price w-100 mt-3">
                  ${product.net_sale_price_string ? `<div class="d-flex gap-2">
                                               <span class="sale-price mx-2">${product.net_sale_price_string}</span>
                                               <span class="duscount-price mx-2">${product.net_price_string}</span>
                                            </div>
                  ` : `<span class="sale-price mx-2">${product.net_price_string}</span>`}
                  <div class="d-flex gap-2">
                   <span class="total-word">{{ locals.cart_page.total }}</span>
                   <span class="total-price">${product.total_string}</span>
                  </div>
                </div>
              
             </div>
             `
         });

       document.querySelector('.custom-cart .myCart').innerHTML = allProducts;
    }



    // delete cart
    function deleteProduct(product_id) {
        // animation
        const productItem = $(`.cart-product[data-product='${product_id}']`);
        var productTable = $('.product-table');
        productItem.fadeTo('slow', 0.3);
        productTable.fadeTo('slow', 0.3);

        zid.store.cart.removeProduct(product_id).then(function (response) {
            if (response.status === 'success') {
                fetchCart();
                fetchCartProducts();
            }else{

                // toastr.error(response.data.message, '{{ locals.sorry }}')
            }
        }).finally(()=>{
        productItem.fadeTo('slow', 1);
        productTable.fadeTo('slow', 1);
      });
    }

    // update product
    function updateProductCart(productId,qn){
        console.log(productId,qn);
        if(qn == 0){
            deleteProduct(productId);
            return;
        }

        // animation
        const productItem = $(`.cart-product[data-product='${productId}']`);
        var productTable = $('.product-table');


        productItem.fadeTo('slow', 0.3);
        productTable.fadeTo('slow', 0.3);

        zid.store.cart.updateProduct(productId, qn).then(function (response) {
         if (response.status === 'success') {
            fetchCart();
            fetchCartProducts();
        }else{

            // toastr.error(response.data.message, '{{ locals.sorry }}')
        }
      }).finally(()=>{
        productItem.fadeTo('slow', 1);
        productTable.fadeTo('slow', 1);

      });
    }

  async function updateTotalCart(myCart) {
        let tempTotalBox = '';
        if(myCart.products_count){
            myCart?.totals.forEach((total) => {

                if(total.code === 'total'){
                    const findVat =  myCart?.totals.find((v)=> v.code === 'vat');
                    let finalTotal = 0;
                    if(findVat){
                        finalTotal = (total.value + findVat?.value).toFixed(2);
                    }else{
                        finalTotal = total.value.toFixed(2);

                    }
                    tempTotalBox += `
                    <div class="cart-product-row-wrapper cart-totals-row-wrapper border-0 d-flex justify-content-between gap-3 m-0 p-0">
                        <div class="name ">
                            ${total.title}
                        </div>
                        <div class="value fw-bold" >
                            ${finalTotal} ${myCart?.currency?.cart_currency?.code}
                        </div>
                    </div>
                `;
                }else{
                      tempTotalBox += `
                    <div class="cart-product-row-wrapper cart-totals-row-wrapper border-0 d-flex justify-content-between gap-3 m-0 p-0">
                        <div class="name ${total.code === 'total' ? 'fw-bold' : ''}">
                            ${total.title}
                        </div>
                        <div class="value">
                            ${total.value_string}
                        </div>
                    </div>
                `;
                }
            });
            document.querySelector('.cart-view .cart-totals-div').innerHTML = tempTotalBox;
        }else{
            document.querySelector(".cart-products-with-totals").classList.add("d-none");
            document.querySelector(".cart-empty").classList.remove("d-none");
        }
    }



    document.addEventListener("DOMContentLoaded",()=>{
      fetchCartProducts();
      cartSidebar.addEventListener('show.bs.offcanvas', function() {
          fetchCartProducts();
      });

      cartSidebar.addEventListener('shown.bs.offcanvas', function() {
          fetchCartProducts();
      });
    });
</script>
{% endblock %} 
