{% extends "layout.twig" %}

{% block header %} {{ include('header.twig') }} {% endblock %}

{% block top_links %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'account-pages.css?v=1.69' }}" />
{% endblock %}

{% block main_content %}
    {# breadcrumps #}
    {% embed 'breadcrumb.twig' %}
        {% block breadcrumb_items %}
            <li class="breadcrumb-item" aria-current="page"><a href="/">{{ locals.home_title }}</a></li>
                {% if session.lang.code == 'ar' %}
                <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg" >
                <path d="M7 1L2 6L7 11" stroke="#333333" stroke-width="1.5"/>
                </svg>
               {% else %}
                <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="rotateIcon">
                <path d="M7 1L2 6L7 11" stroke="#333333" stroke-width="1.5"/>
                </svg>
               {% endif %}
            <li class="breadcrumb-item active " aria-current="page">{{ locals.profile.title }}</li>
        {% endblock %}
    {% endembed %}
    {# small hero section #}
    {% include 'smallHero.twig' with { 'image' :  settings.banners_banner_profile_page_image } %}

    <div class="container profile-page">
      <div class="alert alert-success d-flex justify-content-between align-items-center d-none" role="alert">
            <div class="message">
            
            </div>
            <button type="button" class="btn-close" aria-label="Close"></button>
      </div>

      <div class="alert alert-danger d-flex justify-content-between align-items-center d-none" role="alert">
            <div class="message">
            
            </div>
            <button type="button" class="btn-close" aria-label="Close"></button>
      </div>
      {# profile box #}
      <div class="data-profile-from-zid d-none">
        {{ account_profile_template_content|raw }}
      </div>
      {% include 'profile-box.twig' with { 'name' :  customer.name } %}
      
      {# account profile orders #}
      {% include 'account-profile-myOrders.twig'  %}

      {# account profile latest orders and cart  #}
      {% include 'account-profile-latestOrdersAndCart.twig'  %}
      
    </div>
{% endblock %}
{% block footer_scripts %}

<script>
     console.log("store");
    // for myOrders and latestOrders
    const orderNum = "{{ locals.profile.order_number }}";
    const orderPaid = "{{ locals.profile.order_paid }}";
    const orderPending = "{{ locals.profile.order_pending }}";
    const myOrdersServices = document.querySelector('.profile-page .myOrdersServices');
    const latestOrders = document.querySelector('.profile-page .latest-orders .latest_orders_data');
    zid.store.customer.fetchOrders().then(function (response) {
        let orders = '';
        let latestOrdersTemp = '';
        response.data.orders.slice(0,2).forEach((order, index) => {
            orders += `
            <a class="text-nowrap " href="${order.order_url}">
            ${orderNum} ${order.id}
            ${response.data.orders.length > 2 ?",":" "}
            </a>
            `;
        });
        if(response.data.orders.length > 2){
            orders += ` 
            <a class="text-nowrap " href="/account-orders">
             +${response.data.orders.length  - 2}
            </a>
            `;
        }
        response.data.orders.forEach((order, index) => {
            console.log(order);
            latestOrdersTemp += `
              <a class="latest-order d-flex flex-column gap-3" href="${order.order_url}">
                    <div class="d-flex justify-content-between align-items-center">
                     <h4 class="order-id">${orderNum} ${order.id}</h4>
                     <div class="d-flex align-items-center gap-1">
                       <img src="{{ asset_url ~ "Calendar.svg" }}" alt="Calendar">
                        <div class="d-flex align-items-center gap-2 date">
                          ${order.created_at.split(" ")[0]} | ${order.created_at.split(" ")[1]}             
                        </div>
                     </div>
                   </div>
                   <div class="d-flex align-items-center gap-1">
                     <span class="order-status">
                       {% if session.lang.ar %} 
                            ${order.order_status.name}
                       {% else %}
                            ${order.order_status.code == 'new' ? '{{ locals.profile.new }}' : ''}
                            ${order.order_status.code == 'cancelled' ? '{{ locals.profile.cancelled }}' : ''}
                            ${order.order_status.code == 'reversed' ? '{{ locals.profile.reversed }}' : ''}
                            ${order.order_status.code == 'reverse_in_progress' ? '{{ locals.profile.reverse_in_progress }}' : ''}
                            ${order.order_status.code == 'preparing' ? '{{ locals.profile.preparing }}' : ''} 
                            ${order.order_status.code == 'ready' ? '{{ locals.profile.ready }}' : ''} 
                            ${order.order_status.code == 'indelivery' ? '{{ locals.profile.indelivery }}' : ''} 
                            ${order.order_status.code == 'delivered' ? '{{ locals.profile.delivered }}' : ''} 
                        {% endif %} 
                     </span>
                     <span class="order-payment py-2 px-3">${order.payment_status === 'paid' ? orderPaid : order.payment_status === 'pending' ?orderPending :''}</span>
                   </div>
                   <div class="d-flex justify-content-between align-items-center gap-3">
                     <div class="d-flex flex-column gap-2">
                        <span class="total-string">{{ locals.profile.order_total }}</span>
                        <div class="price">
                          <span class="currency">${order.currency_code}</span>
                        ${parseFloat(order.order_total).toFixed(2)}
                        </div>
                     </div>
                   {% if session.lang.code == 'ar' %} 
                         <img src="{{ asset_url ~ "arrowLeft.svg" }}" alt="arrowLeft">
                    {% else %}
                                    <svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="rotateIcon">
                                    <path d="M8.40002 1C8.40002 1 1.20003 5.13483 1.20003 7.00173C1.20002 8.86863 8.40002 13 8.40002 13" stroke="#334155" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                    {% endif %} 
                   </div>
               </a>
            `;
        });
        myOrdersServices.innerHTML = orders;
        latestOrders.innerHTML = latestOrdersTemp;
    });

    // for my addresses
    const myaddresses = "{{ locals.myaddresses }}";
    const myShippingOptions = "{{ locals.myShippingOptions }}";
    const myaddressesProfile = document.querySelector('.profile-page .myAddressesProfile');


    zid.store.customer.fetchAddresses().then(function (response) {
        let addressesProfile = '';
        response.data.addresses.slice(0,1).forEach((address, index) => {
            addressesProfile += `
            <a class="text-nowrap " href="/account-addresses/${address.id}/edit">
            ${address.address_street}
            ${response.data.addresses.length > 1 ?",":" "}
            
            </a>
            `;
        });
        if(response.data.addresses.length > 1){
            addressesProfile += `
            <a class="text-nowrap " href="/account-addresses">
             +${response.data.addresses.length  - 1}
            </a>
            `;
        }
    
        myaddressesProfile.innerHTML = addressesProfile;
    });


    
    
    // custom form
    function insertDefaultFormDataFromZidToCustomForm() {
        const formZid = document.querySelector('.data-profile-from-zid');
        const hiddenInput = formZid.querySelector('input[type=hidden][name=_token]');
        const inputHiddenCustom = document.querySelector(
            'input[type=hidden].profile-hidden-input-custom'
        );
        const inputHiddenDeleteAccount = document.querySelector(
            'input[type=hidden].profile-hidden-input-delete'
        );
        inputHiddenCustom.value = hiddenInput.value;
        inputHiddenDeleteAccount.value = hiddenInput.value;
        const alertSuccess = document.querySelector('.data-profile-from-zid .alert.alert-success');
        const alertDanger = document.querySelector('.data-profile-from-zid .alert.alert-danger');
        const myAlertSuccess = document.querySelector('.profile-page .alert.alert-success');
        const myAlertDanger = document.querySelector('.profile-page .alert.alert-danger');
        
        if(alertSuccess){
            myAlertSuccess.classList.remove('d-none');
            myAlertSuccess.querySelector(".message").textContent = alertSuccess.firstChild.nodeValue.trim();
            myAlertSuccess.querySelector(".btn-close").addEventListener('click', () => {
                myAlertSuccess.classList.add('d-none');
            });
        }
        if(alertDanger){
            myAlertDanger.classList.remove('d-none');
            myAlertDanger.querySelector(".message").textContent = alertDanger.firstChild.nodeValue.trim();
            myAlertDanger.querySelector(".btn-close").addEventListener('click', () => {
                myAlertDanger.classList.add('d-none');
            });
        }
    }

   
    
 
 
    document.addEventListener(
    'DOMContentLoaded',
      ()=>{
        insertDefaultFormDataFromZidToCustomForm();
      }
    );
</script>
{% endblock %}


{% block footer %} {{ include('footer.twig') }} {% endblock %}
