{% extends "layout.twig" %}

{% block header %} {{ include('header.twig') }} {% endblock %}

{% block main_content %}

    {% if blog.slug == "brands" %}
     <div class="container">
            <div class="d-flex justify-content-between gap-2 flex-wrap align-items-center container">
                {# breadcrumps #}
                    {% embed 'breadcrumb.twig' %}
                        {% block breadcrumb_items %}
                            <li class="breadcrumb-item" aria-current="page"><a href="/">{{ locals.home_title }}</a></li>
                                {% if session.lang.code == 'ar' %}
                                <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg" >
                                <path d="M7 1L2 6L7 11" stroke="#333333" stroke-width="1.5"/>
                                </svg>
                            {% else %}
                                <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="rotateIcon">
                                <path d="M7 1L2 6L7 11" stroke="#333333" stroke-width="1.5"/>
                                </svg>
                            {% endif %}
                            <li class="breadcrumb-item active " aria-current="page">{{ locals.brandsPage }}</li>
                        {% endblock %}
                    {% endembed %}
                <div class="position-relative flex-1 text-end">
                    <div class="copy-message position-absolute d-none text-end w-100" id="copyMessage">{{ locals.link_copied }}</div>
                    <a href="#" onclick="copyLink(event)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_300_39227)">
                        <path d="M6 15C7.65685 15 9 13.6569 9 12C9 10.3431 7.65685 9 6 9C4.34315 9 3 10.3431 3 12C3 13.6569 4.34315 15 6 15Z" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18 9C19.6569 9 21 7.65685 21 6C21 4.34315 19.6569 3 18 3C16.3431 3 15 4.34315 15 6C15 7.65685 16.3431 9 18 9Z" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18 21C19.6569 21 21 19.6569 21 18C21 16.3431 19.6569 15 18 15C16.3431 15 15 16.3431 15 18C15 19.6569 16.3431 21 18 21Z" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8.69922 10.7008L15.2992 7.30078" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8.69922 13.3008L15.2992 16.7008" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_300_39227">
                        <rect width="24" height="24" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>

                    </a>
                </div>
            </div>
      <div class="row mb-4 g-3 brandsPage brands">
        
      </div> 
    </div>
    {% elseif blog.slug == "aboutus" %}
     {# breadcrumps #}
        {% embed 'breadcrumb.twig' %}
            {% block breadcrumb_items %}
                <li class="breadcrumb-item" aria-current="page"><a href="/">{{ locals.home_title }}</a></li>
                    {% if session.lang.code == 'ar' %}
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg" >
                    <path d="M7 1L2 6L7 11" stroke="#333333" stroke-width="1.5"/>
                    </svg>
                {% else %}
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="rotateIcon">
                    <path d="M7 1L2 6L7 11" stroke="#333333" stroke-width="1.5"/>
                    </svg>
                {% endif %}
                <li class="breadcrumb-item active " aria-current="page">{{ locals.about_us }}</li>
            {% endblock %}
        {% endembed %}
    <div class="aboutUs">
        <div class="container ">
            <div class="row align-items-center justify-content-center  justify-content-md-start g-4">
                    <div class="col-md-6">
                        <div class="image-box">
                        {% for bol in blog.metafields %}
                        {% if bol.slug == "ImageForBlog" %} 
                            <img src="{{ bol.value.full_size }}" class="w-100 h-100 " alt="{{ blog.title }}">
                        {% endif %}
                        {% endfor %}
                        </div>
                    </div>

                    {# info #}
                    <div class="col-md-6">
                        <div class="info d-flex flex-column gap-4 align-items-center align-items-md-start">
                        <div class="d-flex gap-2 align-items-center title">
                                <svg width="23" height="11" viewBox="0 0 23 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20.7 5.48712C20.7 5.26917 20.5905 5.05125 20.3714 4.94227L18.2904 3.30765C18.1809 3.19868 18.0714 3.19868 18.0714 3.19868C17.0857 2.54483 15.7714 2.76277 15.0048 3.52559L13.1429 5.48712L15.0048 7.44871L15.1143 7.55768C16.1 8.32051 17.4142 8.42948 18.2904 7.66665L20.481 6.03203C20.5905 5.92306 20.7 5.70507 20.7 5.48712ZM12.4857 5.48712L14.6762 3.19868C15.6619 2.32688 17.0857 2.10889 18.2904 2.76274C18.2904 2.87172 18.4 2.87171 18.5095 2.98069L20.7 4.61536C21.0286 4.83331 21.1381 5.1602 21.1381 5.48712C21.1381 5.81405 21.0286 6.14099 20.7 6.35895L18.5095 7.99356C17.5238 8.86536 15.881 8.86536 14.8952 7.99356L14.8952 7.88459C14.7857 7.88459 14.7857 7.77562 14.6762 7.77562L12.4857 5.48712ZM9.85713 5.48712L7.99524 3.52559C7.11905 2.65379 5.6952 2.54483 4.70952 3.30765L2.62857 4.94227C2.40952 5.05124 2.3 5.26917 2.3 5.48712C2.3 5.70507 2.40952 5.92306 2.51905 6.03203L4.70952 7.66665C5.6952 8.42948 7.11905 8.32051 7.99524 7.44871L9.85713 5.48712ZM1.86191 5.48712C1.86191 5.1602 1.97143 4.83331 2.3 4.61536L4.49048 2.98068C5.5857 2.10888 7.22855 2.21791 8.32379 3.19868L10.5143 5.48712L8.32379 7.77562C7.22855 8.86537 5.58569 8.97434 4.49048 7.99356L2.3 6.35894C1.97143 6.14099 1.86191 5.81405 1.86191 5.48712ZM22.5619 5.48712C22.5619 5.37815 22.5619 5.26919 22.5619 5.16021C22.4523 4.50636 22.1238 3.85252 21.5762 3.41662L19.3857 1.78195C17.6333 0.474249 15.2238 0.692237 13.6905 2.21789L11.5 4.50633L9.30952 2.21789C8.7619 1.67301 7.99522 1.2371 7.22855 1.12813C6.02379 0.801201 4.6 1.01912 3.50476 1.78195L1.42381 3.41662C0.766668 3.9615 0.438097 4.7243 0.438097 5.48712C0.438097 6.24995 0.766668 7.0128 1.42381 7.55768L3.50476 9.1923C4.27143 9.73717 5.25716 10.0641 6.24288 10.0641C7.33811 10.0641 8.43333 9.62821 9.30952 8.75641L11.5 6.57689L13.6905 8.75641C14.5666 9.62821 15.6619 10.0641 16.7571 10.0641C17.1952 10.0641 17.6333 9.9551 17.9619 9.84612C18.1809 9.84612 18.2904 9.84612 18.2904 9.73715L18.5095 9.95509L18.4 9.73715C18.5095 9.73715 18.619 9.62818 18.7286 9.62818C18.8381 9.5192 18.9476 9.51921 18.9476 9.51921L19.0571 9.41024L19.1666 9.41024C19.2762 9.30126 19.3857 9.1923 19.3857 9.1923L21.5762 7.55768C22.2333 7.0128 22.5619 6.24995 22.5619 5.48712ZM-2.17994e-07 5.48712C-1.75123e-07 4.50635 0.328571 3.74351 1.09524 3.08966L3.28572 1.45504C4.49048 0.583237 5.91425 0.256342 7.33806 0.692243C8.21425 0.910194 8.98093 1.3461 9.63808 1.89098L11.5 3.85251L13.3619 1.89098C15.0048 0.25635 17.7428 0.0383616 19.7142 1.45504L21.7952 3.08966C22.4524 3.63453 22.8905 4.28841 23 5.16021C23 5.26919 23 5.37815 23 5.48712C23 6.4679 22.5619 7.33972 21.7952 7.88459L19.7142 9.51921C19.6047 9.62818 19.4952 9.62817 19.3857 9.73715C19.2762 9.73715 19.2762 9.84612 19.2762 9.84612L19.0571 9.62818L19.1666 9.84612C19.1666 9.84612 19.0571 9.95509 18.9476 9.95509C18.7286 10.0641 18.7286 10.0641 18.6191 10.1731L18.5095 10.1731C18.4 10.1731 18.2905 10.2821 18.1809 10.2821C17.6333 10.391 17.1952 10.5 16.7571 10.5C15.4428 10.5 14.2381 9.95513 13.3619 9.08332L11.5 7.12174L9.63808 9.08332C8.65236 9.95513 7.44764 10.5 6.24288 10.5C5.14764 10.5 4.1619 10.1731 3.28571 9.51921L1.09524 7.88459C0.328571 7.33971 -2.60865e-07 6.4679 -2.17994e-07 5.48712Z" fill="#333333"/>
                                </svg>
                                <span>{{ locals.about_us }}</span>
                                <svg width="23" height="11" viewBox="0 0 23 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20.7 5.48712C20.7 5.26917 20.5905 5.05125 20.3714 4.94227L18.2904 3.30765C18.1809 3.19868 18.0714 3.19868 18.0714 3.19868C17.0857 2.54483 15.7714 2.76277 15.0048 3.52559L13.1429 5.48712L15.0048 7.44871L15.1143 7.55768C16.1 8.32051 17.4142 8.42948 18.2904 7.66665L20.481 6.03203C20.5905 5.92306 20.7 5.70507 20.7 5.48712ZM12.4857 5.48712L14.6762 3.19868C15.6619 2.32688 17.0857 2.10889 18.2904 2.76274C18.2904 2.87172 18.4 2.87171 18.5095 2.98069L20.7 4.61536C21.0286 4.83331 21.1381 5.1602 21.1381 5.48712C21.1381 5.81405 21.0286 6.14099 20.7 6.35895L18.5095 7.99356C17.5238 8.86536 15.881 8.86536 14.8952 7.99356L14.8952 7.88459C14.7857 7.88459 14.7857 7.77562 14.6762 7.77562L12.4857 5.48712ZM9.85713 5.48712L7.99524 3.52559C7.11905 2.65379 5.6952 2.54483 4.70952 3.30765L2.62857 4.94227C2.40952 5.05124 2.3 5.26917 2.3 5.48712C2.3 5.70507 2.40952 5.92306 2.51905 6.03203L4.70952 7.66665C5.6952 8.42948 7.11905 8.32051 7.99524 7.44871L9.85713 5.48712ZM1.86191 5.48712C1.86191 5.1602 1.97143 4.83331 2.3 4.61536L4.49048 2.98068C5.5857 2.10888 7.22855 2.21791 8.32379 3.19868L10.5143 5.48712L8.32379 7.77562C7.22855 8.86537 5.58569 8.97434 4.49048 7.99356L2.3 6.35894C1.97143 6.14099 1.86191 5.81405 1.86191 5.48712ZM22.5619 5.48712C22.5619 5.37815 22.5619 5.26919 22.5619 5.16021C22.4523 4.50636 22.1238 3.85252 21.5762 3.41662L19.3857 1.78195C17.6333 0.474249 15.2238 0.692237 13.6905 2.21789L11.5 4.50633L9.30952 2.21789C8.7619 1.67301 7.99522 1.2371 7.22855 1.12813C6.02379 0.801201 4.6 1.01912 3.50476 1.78195L1.42381 3.41662C0.766668 3.9615 0.438097 4.7243 0.438097 5.48712C0.438097 6.24995 0.766668 7.0128 1.42381 7.55768L3.50476 9.1923C4.27143 9.73717 5.25716 10.0641 6.24288 10.0641C7.33811 10.0641 8.43333 9.62821 9.30952 8.75641L11.5 6.57689L13.6905 8.75641C14.5666 9.62821 15.6619 10.0641 16.7571 10.0641C17.1952 10.0641 17.6333 9.9551 17.9619 9.84612C18.1809 9.84612 18.2904 9.84612 18.2904 9.73715L18.5095 9.95509L18.4 9.73715C18.5095 9.73715 18.619 9.62818 18.7286 9.62818C18.8381 9.5192 18.9476 9.51921 18.9476 9.51921L19.0571 9.41024L19.1666 9.41024C19.2762 9.30126 19.3857 9.1923 19.3857 9.1923L21.5762 7.55768C22.2333 7.0128 22.5619 6.24995 22.5619 5.48712ZM-2.17994e-07 5.48712C-1.75123e-07 4.50635 0.328571 3.74351 1.09524 3.08966L3.28572 1.45504C4.49048 0.583237 5.91425 0.256342 7.33806 0.692243C8.21425 0.910194 8.98093 1.3461 9.63808 1.89098L11.5 3.85251L13.3619 1.89098C15.0048 0.25635 17.7428 0.0383616 19.7142 1.45504L21.7952 3.08966C22.4524 3.63453 22.8905 4.28841 23 5.16021C23 5.26919 23 5.37815 23 5.48712C23 6.4679 22.5619 7.33972 21.7952 7.88459L19.7142 9.51921C19.6047 9.62818 19.4952 9.62817 19.3857 9.73715C19.2762 9.73715 19.2762 9.84612 19.2762 9.84612L19.0571 9.62818L19.1666 9.84612C19.1666 9.84612 19.0571 9.95509 18.9476 9.95509C18.7286 10.0641 18.7286 10.0641 18.6191 10.1731L18.5095 10.1731C18.4 10.1731 18.2905 10.2821 18.1809 10.2821C17.6333 10.391 17.1952 10.5 16.7571 10.5C15.4428 10.5 14.2381 9.95513 13.3619 9.08332L11.5 7.12174L9.63808 9.08332C8.65236 9.95513 7.44764 10.5 6.24288 10.5C5.14764 10.5 4.1619 10.1731 3.28571 9.51921L1.09524 7.88459C0.328571 7.33971 -2.60865e-07 6.4679 -2.17994e-07 5.48712Z" fill="#333333"/>
                                </svg>
                        </div>
                        <h1 class="main-title">{{ blog.title }}</h1>
                        <div class="text-center text-md-start">{{ blog.content|raw }}</div>
                        </div>
                    </div>

            </div>
        </div>
        <div class="features my-5">
            <div class="ourFeatures_home">
                <div class="container py-5">
                    <h2 class="mb-5 section-title">{{ settings.features_about_us_title }}</h2>
                    <div class="swiper ourFeatures_slider_aboutus">
                        <div class="swiper-wrapper">
                            {% for key, slide in settings.features_about_us_slider %}
                            <div class="swiper-slide">
                                            {% if slide.video %}
                                                <div class="video-box position-relative">                          
                                                <video controls class="w-100 h-100 myVideo">
                                                    <source src="{{ slide.video }}" type="video/mp4">
                                                    Your browser does not support the video tag.
                                                </video>
                                                <button class="playButton position-absolute mx-4 my-4 start-0 top-0" >
                                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M13.1266 8.92883L4.64377 13.8508C3.92387 14.2681 3 13.7628 3 12.9216V3.07765C3 2.23776 3.92254 1.73117 4.64377 2.14978L13.1266 7.07175C13.2903 7.16524 13.4265 7.30037 13.5211 7.46344C13.6158 7.62651 13.6657 7.81172 13.6657 8.00029C13.6657 8.18885 13.6158 8.37407 13.5211 8.53714C13.4265 8.70021 13.2903 8.83534 13.1266 8.92883Z" fill="black"/>
                                                        </svg>

                                                    </button>
                                                </div>
                                                <div class="content d-flex flex-column gap-3  align-items-center justify-content-center mt-4">
                                                <h3>{{ slide.title }}</h3>
                                                <p class="text-center">{{ slide.des }}</p>
                                                </div>
                                            
                                            {% elseif slide.image %}
                                            <div class="image-box">
                                                <img src="{{ slide.image }}" alt="{{ slide.title }}" class="w-100 h-100 object-fit-contain">
                                            </div>
                                            <div class="content d-flex flex-column gap-3 align-items-center justify-content-center mt-4">
                                                <h3 class="text-center">{{ slide.title }}</h3>
                                                <p class="text-center">{{ slide.des }}</p>
                                            </div>
                                            {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}
      <div class="d-flex justify-content-between gap-2 flex-wrap align-items-center container">
     {# breadcrumps #}
            {% embed 'breadcrumb.twig' %}
                {% block breadcrumb_items %}
                    <li class="breadcrumb-item" aria-current="page"><a href="/">{{ locals.home_title }}</a></li>
                    {% if session.lang.code == 'ar' %}
                        <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg" >
                        <path d="M7 1L2 6L7 11" stroke="#333333" stroke-width="1.5"/>
                        </svg>
                    {% else %}
                        <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="rotateIcon">
                        <path d="M7 1L2 6L7 11" stroke="#333333" stroke-width="1.5"/>
                        </svg>
                    {% endif %}
                    <li class="breadcrumb-item" aria-current="page"><a href="/blogs">{{ locals.blogs }}</a></li>
                    {% if session.lang.code == 'ar' %}
                        <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg" >
                        <path d="M7 1L2 6L7 11" stroke="#333333" stroke-width="1.5"/>
                        </svg>
                    {% else %}
                        <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="rotateIcon">
                        <path d="M7 1L2 6L7 11" stroke="#333333" stroke-width="1.5"/>
                        </svg>
                    {% endif %}
                    <li class="breadcrumb-item active " aria-current="page">{{ blog.title }}</li>
                {% endblock %}
            {% endembed %}
        <div class="position-relative flex-1 text-end">
            <div class="copy-message position-absolute d-none text-end w-100" id="copyMessage">{{ locals.link_copied }}</div>
            <a href="#" onclick="copyLink(event)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
               <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_300_39227)">
                <path d="M6 15C7.65685 15 9 13.6569 9 12C9 10.3431 7.65685 9 6 9C4.34315 9 3 10.3431 3 12C3 13.6569 4.34315 15 6 15Z" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18 9C19.6569 9 21 7.65685 21 6C21 4.34315 19.6569 3 18 3C16.3431 3 15 4.34315 15 6C15 7.65685 16.3431 9 18 9Z" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18 21C19.6569 21 21 19.6569 21 18C21 16.3431 19.6569 15 18 15C16.3431 15 15 16.3431 15 18C15 19.6569 16.3431 21 18 21Z" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.69922 10.7008L15.2992 7.30078" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.69922 13.3008L15.2992 16.7008" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_300_39227">
                <rect width="24" height="24" fill="white"/>
                </clipPath>
                </defs>
                </svg>

            </a>
        </div>
     </div>
     <div class="container single-blog d-flex flex-column gap-4">
       {% for bol in blog.metafields %}
            {% if bol.slug == "ImageForBlog" %}          
                <div class="main-image w-100">
                  <img src="{{ bol.value.full_size }}" class="w-100 h-100 object-fit-contain" alt="{{ blog.title }}">
                </div>
            {% endif %}
        {% endfor %}
        <h1 class="title">{{ blog.title }}</h1>
        <div class="d-flex authorBoxCon  align-items-center gap-4 pb-4">
            {% for bol in blog.metafields %}
                {% if bol.slug == "nameAuthor" %}          
                        <div class="d-flex gap-2 align-items-center authorBox ">
                                <svg width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.25184 4.37713C6.25184 4.37713 6.14776 4.48109 5.93959 4.68902C5.73143 4.89695 5.33174 5.00091 4.74055 5.00091C4.14935 5.00091 3.64559 4.79298 3.22925 4.37713C2.81292 3.96128 2.60475 3.45809 2.60475 2.86758C2.60475 2.27706 2.81292 1.77388 3.22925 1.35803C3.64559 0.942172 4.14935 0.734244 4.74055 0.734244C5.33174 0.734244 5.83551 0.942172 6.25184 1.35803C6.66818 1.77388 6.87635 2.27706 6.87635 2.86758C6.87635 3.45809 6.66818 3.96128 6.25184 4.37713ZM3.00443 6.29838C3.00443 6.29838 3.16264 6.26095 3.47906 6.1861C3.79547 6.11124 4.21597 6.07382 4.74055 6.07382C5.26513 6.07382 5.84384 6.14867 6.47667 6.29838C7.10949 6.44808 7.6882 6.69344 8.21278 7.03444C8.73736 7.37544 8.99965 7.76218 8.99965 8.19467V9.26758H0.481445V8.19467C0.481445 7.76218 0.743736 7.37544 1.26832 7.03444C1.7929 6.69344 2.3716 6.44808 3.00443 6.29838Z" fill="#C8C8C8"/>
                                </svg>
                                <h6 class="author-name">
                                {% if session.lang.code == "ar" %}
                                {{ bol.value.ar }}
                                {% else %}
                                {{ bol.value.en }}
                                {% endif %}                             
                                </h6>
                        </div>
                  {% endif %}
            {% endfor %}               
              <div class="d-flex gap-2  align-items-center date">
                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.87937 4.96262V6.03553H2.5398V4.96262H7.87937ZM8.92733 1.24489C9.22674 1.24489 9.48041 1.34885 9.68834 1.55678C9.89627 1.7647 10.0002 2.01838 10.0002 2.31779V9.75327C10.0002 10.0527 9.89627 10.3064 9.68834 10.5143C9.48041 10.7222 9.22674 10.8262 8.92733 10.8262H1.49185C1.19243 10.8262 0.938763 10.7222 0.730836 10.5143C0.522909 10.3064 0.418945 10.0527 0.418945 9.75327V2.31779C0.418945 2.01838 0.522909 1.7647 0.730836 1.55678C0.938763 1.34885 1.19243 1.24489 1.49185 1.24489H2.01583V0.171981H3.08873V1.24489H7.33045V0.171981H8.40335V1.24489H8.92733ZM8.92733 9.75327V3.91467H1.49185V9.75327H8.92733ZM6.28249 7.10843V8.15639H2.5398V7.10843H6.28249Z" fill="#C8C8C8"/>
                            </svg>

                        {{ blog.updated_at | split(' ')[0] }}
                </div>
            </div>
  
        
        
        <p>{{ blog.content|raw }}</p>
     </div>
     
    {% endif %}
    

    

{% endblock %}

{% block footer_scripts %}
<script>
 const blog = {{ blog |json_encode |raw }};
 console.log(blog);
  function fetchBrandsPage (){
        zid.store.product.fetchCategories().then((data)=>{
            const fetchBrand = data.data.categories.find((cat)=> cat.id == 1104866 || cat.name == "brand");
            const brandTag = document.querySelector(".brandsPage");
            let tempBrands = '';
            if(fetchBrand){
            fetchBrand.sub_categories.forEach((brand)=>{
                console.log(brand);

                tempBrands += `<div class="col-md-4">
                    <div class="position-relative category-card">
                    <img src="${brand.image_full_size}" alt="${ brand.name }" class="w-100 h-100 object-fit-cover">
                    <div class="d-flex flex-column gap-3  position-absolute bottom-0 end-0 mb-4 mx-4 ">
                    <h6 class="cat-title align-self-end">${ brand.name }</h6>
                    <a href="${ brand.url }" class="cat-btn">{{ locals.show_all }}</a>
                    </div>
                </div>
                </div>`
            })
            }
            brandTag.innerHTML = tempBrands;
            
        }).catch((error)=>{
            console.log(error);
        })
  }
 if(blog.slug === "brands"){ 
   fetchBrandsPage();
 }
 if(blog.slug === "aboutus"){ 
    document.addEventListener('DOMContentLoaded', () => {
        const featuresTag = document.querySelector('.ourFeatures_slider_aboutus');
        if(featuresTag){

          let swiper = new Swiper('.ourFeatures_slider_aboutus', {
            slidesPerView: 1.1,
            spaceBetween: 30,
            loop: true,
            breakpoints: {
              768: {
                slidesPerView: 3,
                spaceBetween: 10
              }
            }
          }); 
        }else{
          console.log("error from main slider");
        }
     const videos = document.querySelectorAll('.aboutUs .myVideo');
    const playButtons = document.querySelectorAll('.aboutUs .playButton');

    playButtons.forEach((button, index) => {
        const video = videos[index];
        if (!video) {
            console.error(`No video found for button at index ${index}`);
            return;
        }
        console.log('Video:', video); // Debugging: Check if video is found
        video.controls = false;
        const playIcon = `
           <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.1266 8.92883L4.64377 13.8508C3.92387 14.2681 3 13.7628 3 12.9216V3.07765C3 2.23776 3.92254 1.73117 4.64377 2.14978L13.1266 7.07175C13.2903 7.16524 13.4265 7.30037 13.5211 7.46344C13.6158 7.62651 13.6657 7.81172 13.6657 8.00029C13.6657 8.18885 13.6158 8.37407 13.5211 8.53714C13.4265 8.70021 13.2903 8.83534 13.1266 8.92883Z" fill="black"/>
            </svg>`;
        const pauseIcon = `
             <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1.5L1 14.5" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M9 1.5L9 14.5" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
            </svg>`;

        button.innerHTML = playIcon;

        button.addEventListener('click', () => {
            if (video.paused) {
                video.play();
                button.innerHTML = pauseIcon;
            } else {
                video.pause();
                button.innerHTML = playIcon;
            }
        });

        
    });


  
  });
 }
</script>
{% endblock %}
{% block footer %} {{ include('footer.twig') }} {% endblock %}
