{% extends "layout.twig" %}

{% block header %} {{ include('header.twig') }} {% endblock %}

{% block top_links %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'toastr.min.css' }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'ekko-lightbox.css' }}" />

    <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'photoswipe.css' }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset_url ~ 'default-skin.css?v=1.02' }}" />

    <link rel="stylesheet" type="text/css" href="{{ assetUrl('product-details.css') }}" />

    <style>
        .pswp__button,
        .pswp__button--arrow--left:before,
        .pswp__button--arrow--right:before {
            background: url({{ asset_url }}default-skin.png) 0 0 no-repeat;
        }

        @media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
            /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
            .pswp--svg .pswp__button,
            .pswp--svg .pswp__button--arrow--left:before,
            .pswp--svg .pswp__button--arrow--right:before {

            }

        }

        .pswp__preloader--active .pswp__preloader__icn {
            /* We use .gif in browsers that don't support CSS animation */
            background: url({{ asset_url }}preloader.gif) 0 0 no-repeat; }


        .d-hide {
            visibility: hidden;
            position: absolute;
        }

        .slick-dots li {
            width: 10px;
            height: 10px;
        }

        .slick-dots li button::before {
            font-size: 8px !important;
        }

        .pswp__button.pswp__button--share {
            display: none !important;
        }

        .pswp img {
            max-width: none;
            object-fit: contain;
        }

        .d-none-important {
            display: none !important;
        }

        .grouped-heading {
            padding-top: 5px;
            font-weight: 600;
            color: #62606f;
        }
        .grouped-product-row {
            display: flex;
            gap: 20px;
        }
        .grouped-product-row img {
            margin-bottom: 20px;
        }
        .grouped-product-col {
            display: flex;
            flex-direction: column;
            position: relative;
        }
        .grouped-product-col p {
            color: #00b186;
        }
        .grouped-product-col h6 {
            color: #141316;
        }
        .grouped-product-col img {
            width: 100px;
            height: 120px;
        }
        .grouped-product-table img {
            width: 80px;
            height: 80px;
            border: 1px solid #f7f7f8;
            border-radius: 8px;
        }
        .grouped-product-table table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 10px;
        }

        .grouped-product-table table tr:first-child {
            background: #f7f7f8;
            height: 60px;
        }

        .grouped-product-table table tr:first-child th {
            border-color: transparent !important;
            border: none !important;
        }

        .grouped-product-table table tr:first-child th:first-child {
            background: #f7f7f8;
            height: 60px;
            border-width: 0;
            padding: 0 10px;
            border-left-width: 1px;
            border-right-width: 0;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }
        .grouped-product-table table tr:first-child th:last-child {
            border-left-width: 0;
            border-right-width: 1px;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }
        .rtl .grouped-product-table table tr:first-child th:first-child {
            border-left-width: 0;
            border-right-width: 1px;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
        .rtl .grouped-product-table table tr:first-child th:last-child {
            border-left-width: 1px;
            border-right-width: 0;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        .grouped-product-table-row {
            border-bottom: 1px solid #f7f7f8;
        }
      
    </style>
{% endblock %}

{% block top_body %}
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element, as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
            <div class="pswp__container">
                <!-- don't modify these 3 pswp__item elements, data is added later on -->
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}

{% block main_content %}
 
    {# breadcrumps #}
     {% embed 'breadcrumb.twig' %}
                {% block breadcrumb_items %}
                    <li class="breadcrumb-item" aria-current="page"><a href="/">{{ locals.home_title }}</a></li>
                        {% if session.lang.code == 'ar' %}
                        <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg" >
                        <path d="M7 1L2 6L7 11" stroke="#333333" stroke-width="1.5"/>
                        </svg>
                    {% else %}
                        <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="rotateIcon">
                        <path d="M7 1L2 6L7 11" stroke="#333333" stroke-width="1.5"/>
                        </svg>
                    {% endif %}
                    <li class="breadcrumb-item " aria-current="page">{{ locals.product.products }}</li>
                     {% if session.lang.code == 'ar' %}
                        <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg" >
                        <path d="M7 1L2 6L7 11" stroke="#333333" stroke-width="1.5"/>
                        </svg>
                    {% else %}
                        <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="rotateIcon">
                        <path d="M7 1L2 6L7 11" stroke="#333333" stroke-width="1.5"/>
                        </svg>
                    {% endif %}
                      <li class="breadcrumb-item active" aria-current="page">{{ product.name | raw }}</li>

                {% endblock %}
    {% endembed %}
    <section class="product products-details-page">
        <div class="container pb-5">
            <section class="products-details mb-5">
                <div>
                    <div class="row">

                        <div class="col-lg-6">

                            <!--GALLERY-->
                            <div id="wrap">
                                <div class="row">
                                    <div class="col-12 col-product-image-wrapper">

                                        <!-- Carousel -->
                                        <div class="box-1-1 product-images-carousel product-images-carousel-init {% if product.selected_product.images | length <= 0 %}d-none{% endif %}">
                                            <div class="content">
                                                <div id="product-images" class="product-images slide gallery">
                                                    <div id="product-images-slick">
                                                        {% for key, image in product.selected_product.images %}
                                                            <div>
                                                                <div class="box-1-1">
                                                                    <div class="content">
                                                                        <a class="image-link"
                                                                           style="display:block; width: 100%; height: 100%;">
                                                                            <img src="{{ image.image.full_size }}" class="carousel-img" alt="{{ image.alt_text }}">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row lg-thumbs d-lg-flex product-images-carousel-thumbs {% if product.selected_product.images | length <= 1 %}d-none-important{% endif %}">
                                            {% for key, image in product.selected_product.images %}
                                                <div class="col-3">
                                                    <div class="box-1-1">
                                                        <div class="content">
                                                            <a class="d-flex align-items-center justify-content-center thumb-image-a" data-index="{{ key }}"
                                                               style="width: 100%; height: 100%;" >
                                                                <img src="{{ image.image.medium }}" data-index="{{ key }}">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <!-- No image -->
                                        <div class="box-1-1 product-images-empty {% if product.selected_product.images | length > 0 %}d-none{% endif %}">
                                            <div class="content">
                                                <div class="d-flex" style="width: 100%; height: 100%;">
                                                    <img src="{{ asset_url ~ 'product-img.svg' }}" width="100%" height="auto" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="border-product">
                                <h4 class="product-title">{{ locals.product_share }}</h4>
                                <div class="product-icon">
                                    <div class="product-social d-flex">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ product.html_url }}" target="_blank"><i class="icon-facebook-f"></i></a>
                                        <a href="https://www.pinterest.com/pin/create/button/?url={{ product.html_url }}" target="_blank"><i class="icon-pinterest"></i></a>
                                        <a href="https://twitter.com/intent/tweet?text={{ product.name }}: {{ product.html_url }}" target="_blank"><i class="icon-twitter"></i></a>
                                        <a href="https://api.whatsapp.com/send?text={{ locals.check_out_this_product }}:{{ product.name }} {{ product.html_url }}" target="_blank">
                                            <i class="icon-whatsapp"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="col-lg-6  col-product-info border py-4 px-3 radius20 {% if product.selected_product.images | length <= 1 %}col-product-info-single-image{% endif %}">



                            <section>
                                {% if product.badge %}
                                   {{ template_for_product_badge }}
                                {% endif %}
                                <div class="d-flex justify-content-between gap-3 flex-wrap">                                
                                   <h1 class="product_name flex-2">{{ product.name | raw }}</h1>
                                    {% if product.selected_product.formatted_sale_price %} 
                                        <div class="d-flex product_formatted_price_con align-items-center gap-3 px-2">
                                            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <g clip-path="url(#clip0_300_35172)">
                                                    <g clip-path="url(#clip1_300_35172)">
                                                    <path d="M3.78712 3.90001C3.61181 3.90001 3.44045 3.9528 3.29468 4.05169C3.14892 4.15058 3.03531 4.29114 2.96823 4.4556C2.90114 4.62005 2.88359 4.80101 2.91779 4.9756C2.95199 5.15017 3.03641 5.31054 3.16037 5.43641C3.28433 5.56228 3.44225 5.64799 3.6142 5.68272C3.78614 5.71745 3.96436 5.69962 4.12631 5.6315C4.28828 5.56338 4.42671 5.44802 4.5241 5.30003C4.6215 5.15202 4.67348 4.97801 4.67348 4.80001C4.67348 4.56132 4.5801 4.3324 4.41387 4.16362C4.24765 3.99484 4.0222 3.90001 3.78712 3.90001ZM11.8353 6.72601L6.86576 1.67401C6.81054 1.6184 6.74506 1.57441 6.67306 1.54455C6.60107 1.51469 6.52398 1.49955 6.44621 1.50001H1.12803C0.971309 1.50001 0.821009 1.56322 0.710193 1.67575C0.599376 1.78827 0.537119 1.94088 0.537119 2.10001V7.50001C0.53667 7.57897 0.551575 7.65725 0.580982 7.73035C0.610388 7.80346 0.653717 7.86995 0.708482 7.92601L5.68394 12.972C6.01633 13.3091 6.46689 13.4984 6.93667 13.4984C7.40644 13.4984 7.85701 13.3091 8.18939 12.972L11.8353 9.30001C12.1673 8.96251 12.3537 8.50501 12.3537 8.02801C12.3537 7.55101 12.1673 7.09351 11.8353 6.75601V6.72601ZM11.0021 8.41801L7.3503 12.12C7.23959 12.2318 7.08982 12.2945 6.93371 12.2945C6.77761 12.2945 6.62783 12.2318 6.51712 12.12L1.71894 7.25401V2.70001H6.20394L11.0021 7.57201C11.0569 7.62808 11.1002 7.69457 11.1296 7.76767C11.159 7.84076 11.1739 7.91905 11.1735 7.99801C11.1728 8.15542 11.1113 8.30626 11.0021 8.41801Z" fill="#D92C20"/>
                                                    </g>
                                                    </g>
                                                    <defs>
                                                    <clipPath id="clip0_300_35172">
                                                    <rect width="14" height="14" fill="white" transform="translate(0 0.5)"/>
                                                    </clipPath>
                                                    <clipPath id="clip1_300_35172">
                                                    <rect width="13" height="12" fill="white" transform="translate(-0.0546875 1.5)"/>
                                                    </clipPath>
                                                    </defs>
                                                </svg>

                                                <span class="product-formatted-price-discount" style="color:#f25f5f;"> &nbsp;  &nbsp;{{ locals.product_discount }}&nbsp;{{ product.discount_percentage }}%</span>
                                        </div>
                                        {% endif %}
                                </div>

                                <div class="d-flex align-items-center flex-wrap gap-3 price_container mt-3">
                                   <p>
                                        <del class="product-formatted-price-old">{% if product.selected_product.formatted_sale_price %} {{ product.selected_product.formatted_price }}{% endif %}</del>
                                        
                                    </p>
                                    <h2 class="product-formatted-price theme-text-primary">{% if product.selected_product.formatted_sale_price %}{{ product.selected_product.formatted_sale_price }}{% else %}{{ product.selected_product.formatted_price }}{% endif %}</h2>
                                  
                                </div>
                                
                                <div class="mt-3">
                                    {{ template_for_product_loyalty_points_widget }}
                                </div>

                                <div class="mt-3">
                                    {{ template_for_product_payments_widget }}
                                </div>
                                
                                {% if product.short_description is not empty %}
                                    <p class="product_short_desc mt-3">
                                        {{ product.short_description | raw }}
                                    </p>
                                {% endif %}
                               {# features #}
                                <div class="d-flex flex-column flex-lg-row product-features">
                                    {% if product.rating %}
                                        <div>
                                            {% include 'rating-stars.twig' with {'rating' : product.rating.average } %}
                                            <span class="product-card-rating-count">({{ product.rating.total_count }})</span>
                                        </div>
                                    {% endif %}

                                    {% if product.sold_products_count %}
                                        <div class="product-count d-flex align-items-center">
                                            <span class="icon-military_tech" style="color: #FFCF57; font-size: 16px"></span>&nbsp;
                                            <span class="lang">{{ locals.product_sold_more_than_x_times | format(product.sold_products_count) }}</span>
                                        </div>
                                    {% elseif product.selected_product.sold_products_count %}
                                        <div class="product-count d-flex align-items-center">
                                            <span class="icon-military_tech" style="color: #FFCF57; font-size: 16px"></span>&nbsp;
                                            <span class="lang">{{ locals.product_sold_more_than_x_times | format(product.selected_product.sold_products_count) }}</span>
                                        </div>
                                    {% endif %}


                                    {% if product.low_stock_quantity %}
                                        <div class="low-quantity-section d-inline-block">
                                            <span class="icon-flag_black" style="color: #EC5550; font-size: 16px"></span>&nbsp;
                                            <span class="low-quantity">{{ locals.product_cart_quantity_low_stock | format(product.low_stock_quantity) }}</span>
                                        </div>
                                    {% endif %}

                                    {% if product.bundle_offer %}
                                    <div class="bundle-offer-section">
                                        <span class="icon-gift" style="color: red; font-size: 14px"></span>&nbsp;
                                        <span class="bundle-offer-title">{{ product.bundle_offer.name }}</span>
                                    </div>
                                    {% endif %}


                                </div>


                                


                            </section>


                            {# <div class="border-product"></div>
                            <div style="margin-bottom: 25px" class="div-product-sku {% if not product.selected_product.sku %}d-none{% endif %}">
                                <h4 class="product-title">{{ locals.product_sku }}</h4>
                                <div class="product-sku">
                                    {{ product.selected_product.sku }}
                                </div>
                            </div> #}

                            {# <div style="margin-bottom: 25px" class="div-product-weight {% if not product.selected_product.weight.value %}d-none{% endif %}">
                                <h4 class="product-title">{{ locals.product_weight }}</h4>
                                <div class="product-weight">
                                    {{ product.selected_product.weight.value }}&nbsp;{{ product.selected_product.weight.unit }}
                                </div>
                            </div> #}

                            <form id="product-form">
                                <input id="product-id" type="hidden" value="{{ product.selected_product.id }}">

                                <div class="size-box mb-4">
                                    <style>
                                        #product-variants-options div:has(ul[name^='Color' i]),
                                        #product-variants-options div:has(ul[name^='اللون']) {
                                            display: none;
                                        }
                                        #product-variants-options div:has(ul[name^='Lens thickness' i]),
                                        #product-variants-options div:has(ul[name^='سماكة العدسة']) {
                                            display: none;
                                        }
                                        #product-variants-options div:has(ul[name^='Lens type' i]),
                                        #product-variants-options div:has(ul[name^='نوع العدسة']) {
                                            display: none;
                                        }
                                    </style>
                                    {{ template_for_product_variants_list }}

                                        {% if product.has_variants %}
                                            {# Colors Variants #} 
                                            <div class="variants_colors d-flex flex-column mt-4">
                                                  
                                                     
                                            </div>
                                            <div class="variants_lens_type flex-column d-flex mt-4">
                                            </div>
                                            <div class="variants_lens_thickness flex-column d-flex mt-4">

                                            </div>
                                            {# Colors Variants #} 
                                        {% endif %}

                                    
                                     <div class="custom_input_fields d-flex flex-column gap-4 mt-4">
                                     
                                  
                                     </div>

                                    <!-- new custom fields update -->
                                    {% if product.has_custom_input_fields  %}
                                        <div class="d-none">
                                          {{ template_for_product_custom_input_fields }}
                                        </div>
                                    {% endif %}

                                 
                                </div>

                                {% if product.selected_product.is_infinite or product.selected_product.quantity > 0 %}
                                    <div class="border-product d-none" style="margin-top: 15px"></div>
                                    <div class="select-quantity-div d-none">
                                        <h4 class="product-title">{{ locals.product_cart_quantity }}</h4>
                                        <div class="form-group">
                                            <div>
                                                <select  id="product-quantity" name="quantity" class="select-quantity">
                                                    {% if product.selected_product.is_infinite or product.selected_product.quantity > 100 %}
                                                        {% set maxQuantity = 100 %}
                                                    {% else %}
                                                        {% set maxQuantity = product.selected_product.quantity %}
                                                    {% endif %}

                                                    {% for n in rangeN(1, maxQuantity) %}
                                                        <option value="{{ n }}" {% if n == 1 %}selected{% endif %}>{{ n }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="section-out-of-stock-notify-me {% if product.selected_product.out_of_stock %}d-block{% else %}d-none{% endif %}">
                                    <div class="border-product" style="margin-top: 15px"></div>
                                    <div>
                                        <h4 class="product-title">{{ locals.lbl_error_product_out_of_stock }}</h4>
                                        <form>
                                            <div class="form-group form-notify-me">
                                                <h4>{{ locals.notify_me_title }}</h4>
                                                <div class="d-flex">
                                                    <input type="hidden" class="send-notify-product-id" value="{{ product.selected_product.id }}">
                                                    <input class="form-control send-notify-email" type="email" placeholder="{{ locals.notify_me_hint }}" />
                                                    <button type="button" class="btn btn-primary btn-send-notify" onclick="sendProductNotifyMe()">
                                                        <img class="send-notify-progress d-none" src="{{ asset_url }}spinner.gif" width="15" height="15"/>
                                                        {{ locals.send }}
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                            </form>

                            {# add to cart #}
                              <div class="mt-auto containerAddToCartQuantity  {% if product.selected_product.is_infinite or product.selected_product.quantity > 0 %}d-block{% else %}d-none{% endif %}">
                                <div class="d-flex gap-3">
                                   
                                        {% if product.selected_product.is_infinite or product.selected_product.quantity > 0 %}
                                            {% if product.selected_product.is_infinite or product.selected_product.quantity > 100 %}
                                                {% set maxQuantity = 100 %}
                                            {% else %}
                                                {% set maxQuantity = product.selected_product.quantity %}
                                            {% endif %}    
                                            <div class="inptContainer position-relative   ">
                                                <button type="button" class="button-plus border-0 btn-number increase_btn position-absolute start-0 top-50 translate-middle p-0 mx-4" data-type="plus" data-field="quantity_{{product.id}}">
                                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <g clip-path="url(#clip0_1033_20933)">
                                                        <path d="M8.33301 3.83203V13.1654" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M3.66577 8.5H12.9991" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </g>
                                                        <defs>
                                                        <clipPath id="clip0_1033_20933">
                                                        <rect width="16" height="16" fill="white" transform="translate(0.333008 0.5)"/>
                                                        </clipPath>
                                                        </defs>
                                                        </svg>
                                                </button>
                                                <input type="number" id="input-product-quantity" name="quantity_{{product.id}}" min="1" value="1"  max="{{ maxQuantity }}"  class="w-100"/>
                                                <button type="button" class="button-minus btn-number  border-0 decrease_btn position-absolute end-0 top-50 translate-middle p-0" data-type="minus"  data-field="quantity_{{product.id}}">
                                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <g clip-path="url(#clip0_1033_20927)">
                                                        <path d="M3.66577 8.5H12.9991" stroke="#333333" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </g>
                                                        <defs>
                                                        <clipPath id="clip0_1033_20927">
                                                        <rect width="16" height="16" fill="white" transform="translate(0.333008 0.5)"/>
                                                        </clipPath>
                                                        </defs>
                                                    </svg>
                                                </button>
                                            </div>                                
                                            
                                        {% endif %}

                                     <div class="product-buttons flex-1">                                  
                                          <button id="product-view-add-to-cart"
                                                  class=" btn-add-to-cart radius30 d-flex justify-content-center align-items-center" type="button" onclick="productAddToCart()">
                                              <img class="add-to-cart-progress d-none" src="{{ asset_url }}spinner.gif" width="25" height="25"/>
                                              <span>{{ locals.add_to_cart }}</span>
                                          </button>
                                          <div>
                                              {{ template_for_product_apple_pay_button }}
                                          </div>
                                     </div>
                                </div>

                              </div>
                           

                            <div>
                                <span id="product-view-add-to-cart"></span>
                            </div>

                        
                        </div>
                    </div>
                </div>
            </section>


            {% if product.bundle_offer %}
            <section class="bundle-offer-details-section mt-5">
                <div class="d-flex align-items-center">
                    <div class="description-icon">
                        <span class="icon-gift"></span>
                    </div>
                    <div class="description-title">
                        <div class="bundle-offer-title">{{ product.bundle_offer.name }}</div>
                        <div class="bundle-offer-title-description">{{ product.bundle_offer.description }}</div>
                    </div>
                </div>
                <div class="description-paragrah">
                    <div class="bundle-offer-products">
                        <div class="row bundle-offer-details-products">
                            {% for key, product in product.bundle_offer.products.results | slice(0, 5) %}
                                <div class="prod-col prod-col-tb">
                                    {% include 'product-card.twig' with {'product' : product, 'index': key} %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if product.bundle_offer.products.results | length > 5 %}
                    <div class="bundle-offer-more">
                        <a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">{{ locals.bundle_offer_all_products }}</a>
                    </div>
                    {% endif %}
                </div>
            </section>
            {% endif %}

            {% if product.group_products and product.group_products | length > 0 %}
            {% include 'grouped-product-details.twig' with {'product' : product } %}
            {% endif %}

        
            {# long description #}
            {% if product.description %}
            <div class="accordion" id="accordionLongDesc">

                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button  d-flex align-items-center gap-2" id="AccordionButtonLongDesc" type="button" data-bs-toggle="collapse" data-bs-target="#longDescAccordian" aria-expanded="true" aria-controls="longDescAccordian">
                            <span class="accordion-icon">
                                   <svg width="17" height="2" viewBox="0 0 17 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M15.5 1H1.5" stroke="#0A3254" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                            </span>
                       {{ locals.product_description }}
                    </button>
                    </h2>
                    <div id="longDescAccordian" class="accordion-collapse collapse show" data-bs-parent="#accordionLongDesc">
                    <div class="accordion-body">
                       {{ product.description | raw }}
                    </div>
                    </div>
                </div>

            </div>
              
            {% endif %}

            {# {% if product.has_variants %}
                <section class="product-selection mt-5">
                    <div>
                        <div class="d-flex align-items-center">
                            <div class="description-icon">
                                <span class="icon-format_list_bulleted"></span>
                            </div>
                            <div class="description-title">
                                {{ locals.product_options }}
                            </div>
                        </div>

                        <div class="card-table d-none d-lg-block">
                            <div class="card">
                                <div class="card-body card-table-header">
                                    <div class="row">
                                        {% for option in product.options %}
                                            <div class="col">{{option.name}}</div>
                                        {% endfor %}
                                        <div class="col col-price">{{ locals.product_images }}</div>
                                        <div class="col col-price">{{ locals.product_price }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for variant in product.variants %}
                            {% if not variant.unavailable %}
                                <div  class="card-table options-table">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row flex-column flex-lg-row align-items-start align-items-lg-center">


                                                {% for key, attribute in variant.attributes %}
                                                    <div class="col m-col">
                                                        <span class="variant-name-sm d-inline-block d-lg-none">{{ product.options[key].name }}</span>
                                                        <span>{{ attribute.value }}</span>
                                                    </div>
                                                {% endfor %}

                                                <div class="col">
                                                    {% if variant.images | length > 0 %}
                                                        <div class="d-flex m-col">
                                                            {% for key, image in variant.images %}
                                                                <div class="variant-image-wrapper" data-var-id="{{ variant.id }}">
                                                                    <div class="box-1-1">
                                                                        <div class="content">
                                                                            <a data-index="{{ key }}" data-link-var-id="{{ variant.id }}" class="d-flex align-items-center justify-content-center" style="width: 100%; height: 100%;" >
                                                                                <img src="{{ image.image.medium }}" data-image-url="{{ image.image.full_size }}">
                                                                            </a>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        <span class="d-none d-lg-inline">{{ locals.variants_no_image }}</span>
                                                    {% endif %}
                                                </div>

                                                <div class="col m-col">
                                                    <span class="variant-name-sm d-inline-block d-lg-none">{{ locals.product_price }}</span>
                                                    {% if variant.formatted_sale_price %}
                                                        <h4 style="font-size: 1.2rem" class="price-detail d-inline-block">{{ variant.formatted_sale_price }}
                                                            <del>{{ variant.formatted_price }}</del>
                                                        </h4>
                                                    {% else %}
                                                        <h4 class="d-inline-block" style="font-size: 1.2rem">{{ variant.formatted_price }}</h4>
                                                    {% endif %}
                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </section>
            {% endif %}

            {% if store.is_product_reviews_enabled %}
                <section class="mt-5 review-details">
                    <div>
                        <div class="d-flex flex-wrap align-items-center" style="width: 100%">
                            <div class="description-icon">
                                <span class="icon-reviews_black"></span>
                            </div>
                            <div class="description-title">
                                {{ locals.product_reviews }}
                            </div>
                            {% if product.rating %}
                            <div class="rating-section">
                                    <div>
                                        {% include 'rating-stars.twig' with {'rating' : product.rating.average } %}
                                        <span class="product-card-rating-count">({{ product.rating.total_count }})</span>
                                    </div>
                            </div>
                            {% endif %}

                            &nbsp;
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary add-review-btn" id="add-review-btn" data-toggle="modal" data-target="#exampleModalCenter"><span class="icon-add_circle"></span>{{ locals.add_product_review}} </button>
                            <a class="d-none btn btn-primary add-review-btn" id="add-review-link" href=""><span class="icon-add_circle"></span>{{ locals.add_product_review}} </a>

                        </div>
                        <div class="reviews-break-down-div description-paragrah">
                            <div class="d-flex align-items-center mt-3 mb-4">
                                {% if product.rating %}
                                <h4 class="rating-average">{{ product.rating.average }}</h4>
                                <div class="d-flex flex-column">


                                    <div class="row card-rate">
                                        <span class="rating_count_5">{{ product.rating['5_ratings'].count }}</span>
                                        <span class="icon-star1"></span>
                                        <span class="icon-star1"></span>
                                        <span class="icon-star1"></span>
                                        <span class="icon-star1"></span>
                                        <span class="icon-star1"></span> &nbsp;  &nbsp;
                                        <span>{{ locals.reviews_rating_5 }}</span>
                                    </div>
                                    <div class="row card-rate">
                                        <span class="rating_count_4">{{ product.rating['4_ratings'].count }}</span>
                                        <span class="icon-star1"></span>
                                        <span class="icon-star1"></span>
                                        <span class="icon-star1"></span>
                                        <span class="icon-star1"></span>
                                        <span class="icon-star1 deactive"></span> &nbsp;  &nbsp;
                                        <span>{{ locals.reviews_rating_4 }}</span>
                                    </div>
                                    <div class="row card-rate">
                                        <span class="rating_count_3">{{ product.rating['3_ratings'].count }}</span>
                                        <span class="icon-star1"></span>
                                        <span class="icon-star1"></span>
                                        <span class="icon-star1"></span>
                                        <span class="icon-star1 deactive"></span>
                                        <span class="icon-star1 deactive"></span> &nbsp;  &nbsp;
                                        <span>{{ locals.reviews_rating_3 }}</span>
                                    </div>
                                    <div class="row card-rate">
                                        <span class="rating_count_2">{{ product.rating['2_ratings'].count }}</span>
                                        <span class="icon-star1"></span>
                                        <span class="icon-star1"></span>
                                        <span class="icon-star1 deactive"></span>
                                        <span class="icon-star1 deactive"></span>
                                        <span class="icon-star1 deactive"></span> &nbsp;  &nbsp;
                                        <span>{{ locals.reviews_rating_2 }}</span>
                                    </div>
                                    <div class="row card-rate">
                                        <span class="rating_count_1">{{ product.rating['1_ratings'].count }}</span>
                                        <span class="icon-star1"></span>
                                        <span class="icon-star1 deactive"></span>
                                        <span class="icon-star1 deactive"></span>
                                        <span class="icon-star1 deactive"></span>
                                        <span class="icon-star1 deactive"></span> &nbsp;  &nbsp;
                                        <span>{{ locals.reviews_rating_1 }}</span>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="reviews-break-down-empty description-paragrah d-none">
                            <div style="border: 1px solid #ccc; margin: 10px 0px; padding: 10px; border-radius: 3px">
                                <span>{{ locals.product_no_reviews }}</span>
                            </div>
                        </div>

                        <div class="comment-section description-paragrah bg-transparent">
                            {% include 'customer-reviews.twig' with {'reviews' : product.reviews.data } %}

                            {% if product.reviews.next_page > 1 %}
                            <div class="text-right">
                                <a href="/products/{{ product.id }}/reviews" type="button" class="btn all-reviews-btn">
                                    {{ locals.go_all_reviews }}
                                </a>
                            </div>
                            {% endif %}
                        </div>

                    </div>
                </section>
                <section>
                  {{ template_for_product_metafields }}
                </section>

                <!-- Modal -->
                {% include 'customer-reviews-add.twig' with {'product' : product } %}

            {% endif %}

            {% if store.is_product_question_and_answer_enabled %}
            <section class="mt-5 review-details">
                <div>
                    <div class="d-flex flex-wrap align-items-center" style="width: 100%">
                        <div class="description-icon">
                            <span class="icon-reviews_black"></span>
                        </div>
                        <div class="description-title">
                            {{ locals.product_questions }}
                        </div>
                          {% if product.questions is not empty %}
                          <button type="button" class="btn btn-primary add-review-btn" id="addQuestionButton"><span class="icon-add_circle"></span>{{ locals.add_product_question}} </button>
                          {% endif %}
                    </div>
                </div>
                {% include 'product-questions.twig' with {'questions' : product.questions} %}
                {% include 'product-question-add.twig' with {'product' : product} %}
            </section>
             {% endif %} #}

           

        </div>

        {% if product.bundle_offer.products.results | length > 5 %}
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable bundle-offer-products-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="bundle-offer-title"></div>
                        <div class="bundle-offer-title-description"></div>
                        <div class="bundle-offer-products">
                            <div class="row bundle-offer-details-products-all">
                                {% for key, product in product.bundle_offer.products.results %}
                                    <div class="prod-col prod-col-tb">
                                        {% include 'product-card.twig' with {'product' : product, 'index': key} %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </section>
     {% if (product.related_products | length) >  0 %}
            <section class="similar_products mt-5 mb-5 py-5 ">
              <div class="container">
                <div class="d-flex justify-content-between gap-3 mb-5">
                  <h2 class="title">{{ locals.product.similar_products }}</h2>
                  <div class="d-flex gap-3">
                     <div class="swiper-button-prev position-static mt-0 {% if session.lang.code == "ar" %}rotateIcon{% endif %}"></div>
                     <div class="swiper-button-next position-static mt-0 {% if session.lang.code == "ar" %}rotateIcon{% endif %}"></div>
                  </div>
                </div>
                <div class="swiper similar_products_swiper">
                  <div class="swiper-wrapper custom_products_list ">
                        {% for key,rProduct in product.related_products %}
                                <div class="swiper-slide radius20 px-3">
                                   {% include 'product-card.twig' with {'product' : rProduct, 'index': key} %}
                                </div>
                        {% endfor %}
                  </div>
                
                </div>
              </div>
            </section>
        

            
      {% endif %}
{% endblock %}

{% block footer %}
    {{ include('footer.twig') }}
{% endblock %}

{% block footer_sticky %}
{% endblock %}



{% block footer_scripts %}
    <script type="text/javascript" src="{{ asset_url ~ 'ekko-lightbox.min.js' }}"></script>
    <script type="text/javascript" src="{{ asset_url ~ 'product-details.js' }}"></script>
    <script type="text/javascript" src="{{ asset_url ~ 'toastr.min.js' }}"></script>

    <script type="text/javascript" src="{{ asset_url ~ 'photoswipe.min.js' }}"></script>
    <script type="text/javascript" src="{{ asset_url ~ 'photoswipe-ui-default.min.js' }}"></script>

    {{ product_view_scripts|raw }}

    <script>
        var productImages = {{  product.selected_product.images | json_encode() | raw }};
        console.log("selected product ");
console.log({{  product.selected_product | json_encode() | raw }});
        console.log(" product ");
console.log({{  product | json_encode() | raw }});
const product = {{  product | json_encode() | raw }};

    

        // handle variations
        const handleVariations = ()=>{
            const varinatColors = document.querySelector(".variants_colors");
            const varinatLensType = document.querySelector(".variants_lens_type");
            const varinatLensThickness = document.querySelector(".variants_lens_thickness");
            if(product.variants.length > 0){
                product.options.forEach((option,index)=>{
                  if(option.name.trim().toLowerCase() === "color" || option.name.trim() === "اللون"){
                    let tempChocices = "";
                    for(let choice of option.choices){
                        tempChocices += `<div class="variant-item-con variant-item  d-flex justify-content-center align-items-center color-variant ${product.selected_product.attributes[index].value == choice ? 'active':''}" data-value="${choice}" onclick="colorClicked(event)" >
                                           <div data-value="${choice}" class="variant-item-li text-de" style="background-color:${choice.split('-')[1].trim()}">
                                              
                                            </div>
                         
                                         </div>`;
                    }
                    varinatColors.innerHTML = `<h2 class="variant_title">${option.name}</h2>
                                               <div class="d-flex gap-3 mt-4">${tempChocices}</div>`;
                    
                  }
                  if(option.name.trim().toLowerCase() === "Lens type" || option.name.trim()=== "نوع العدسة"){
                    let tempLnsType = "";
                    for(let choice of option.choices){
                        tempLnsType += `<div class="variant-item-lens p-4 d-flex justify-content-center align-items-center ${product.selected_product.attributes[index].value == choice ? 'active':''}" data-value="${choice}" onclick="lensTypeClicked(event)">
                                       ${choice}
                                         </div>`;
                    }
                    varinatLensType.innerHTML = `<h2 class="variant_title">${option.name}</h2>
                                               <div class="d-flex gap-3 mt-4">${tempLnsType}</div>`;
                  }
                  if(option.name.trim().toLowerCase() === " Lens thickness" || option.name.trim()=== "سماكة العدسة"){
                    let tempLnsThick = "";
                    for(let choice of option.choices){
                        tempLnsThick += `<div class="variant-item-lens-thick p-4 d-flex justify-content-center align-items-center ${product.selected_product.attributes[index].value == choice ? 'active':''}" data-value="${choice}" onclick="lensThickClicked(event)">
                                       ${choice}
                                         </div>`;
                    }
                    varinatLensThickness.innerHTML = `<h2 class="variant_title">${option.name}</h2>
                                               <div class="d-flex gap-3 mt-4">${tempLnsThick}</div>`;
                  }
                })
            }
        }
         function colorClicked(event) {
            event.preventDefault();
            $('.color-variant').removeClass('active');
            event.target.closest(".color-variant").classList.add('active');
            // dispatch click event on the color variant original option.log
            const item = document.querySelector(`#product-variants-options ul li[value="${event.target.dataset.value}"]`);
            item.click();
         }
         function lensTypeClicked(event) {
            event.preventDefault();
            $('.variant-item-lens').removeClass('active');
            event.target.closest(".variant-item-lens").classList.add('active');
            // dispatch click event on the color variant original option.log
            const item = document.querySelector(`#product-variants-options ul li[value="${event.target.dataset.value}"]`);
            item.click();
         }
         function lensThickClicked(event) {
            event.preventDefault();
            $('.variant-item-lens-thick').removeClass('active');
            event.target.closest(".variant-item-lens-thick").classList.add('active');
            // dispatch click event on the color variant original option.log
            const item = document.querySelector(`#product-variants-options ul li[value="${event.target.dataset.value}"]`);
            item.click();
         }
        //  handle custom input fields 
        function handleCLickChoice(event){
            event.preventDefault();
            event.target.closest(".modal_content").querySelectorAll(".custom_input_choice").forEach((a)=> a.classList.remove("active"));
            event.target.closest(".custom_input_choice").classList.add('active');
         }
         function handleConfirmClick(event) {
            const modalId = event.target.getAttribute('data-modal-id');
            const modal = document.querySelector(`#${modalId}`);
            const activeChoice = modal.querySelector('.custom_input_choice.active');

            // handle real option 
            const inputCustomField =  event.target.getAttribute('data-name-custom-input-field');
            const realInput = document.querySelector(`input[name="${inputCustomField}"]`);
            const allInputs = realInput.closest("#product-custom-user-option-fields").querySelectorAll("input");

            
            if (activeChoice) {
                const activeChoiceText = activeChoice.textContent.trim();
                const buttonSightSize = modal.closest(".sight_size").querySelector(".custom_input_fixed");
                buttonSightSize.textContent = activeChoiceText;
               allInputs.forEach((input) => {
                   if(input.name.trim().toLowerCase() === activeChoiceText.trim().toLowerCase()) {
                       if(!input.checked){
                           console.log("yes");
                           console.log(input);

                           input.click();
                       }
                   }else{
                       if(input.checked){
                           input.click();
                       }
                   }
                    
                });
                // Close the modal
                const bootstrapModal = bootstrap.Modal.getInstance(modal);
                bootstrapModal.hide();
            }
        }
        function handleDoctorHelp  (event){
            const nameDocHelp = event.target.getAttribute("data-name");
            const realInput = document.querySelector(`input[name="${nameDocHelp}"]`);
            if(event.target.checked){
                if(realInput){
                    realInput.value = "نعم"
                }
            }else{
                 if(realInput){
                    realInput.value = "لا"
                }
            }
        }
      function handleCustomInputFields() {
            const customInputFieldContainer = document.querySelector(".custom_input_fields");
            if (product.custom_input_fields?.length > 0) {
         
                const sigtSizes = product.custom_input_fields.filter((customField)=> customField.label.split("-")[0].trim() === "مقاس النظر" || customField.label.split("-")[0].trim() === "sight size");
                const deviationSizes = product.custom_input_fields.filter((customField)=> customField.label.split("-")[0].trim() === "مقاس الانحراف" || customField.label.split("-")[0].trim().toLowerCase() === "Deviation size");
                const theHubs = product.custom_input_fields.filter((customField)=> customField.label.split("-")[0].trim() === "المحور" || customField.label.split("-")[0].trim().toLowerCase() === "the hub");
                const fileInput = product.custom_input_fields.find((customField)=> customField.label.split("-")[0].trim() === "بيانات الوصفة الطبية" || customField.label.split("-")[0].trim().toLowerCase() === "Prescription data");
                const doctorHelp = product.custom_input_fields.find((customField)=> customField.label.split("-")[0].trim() === "اطلب مساعدة الطبيب" || customField.label.split("-")[0].trim().toLowerCase() === "Seek doctor's help");


                if(sigtSizes?.length > 0){
                    let tempSizeSight = "";
                    sigtSizes.forEach((sightSize,index) => {
                        let tempChoices = "";
                        // const activeTab = document.querySelector(`.custom${sightSize.label}`);
                        sightSize.choices.forEach((choice) => {
                            tempChoices += `<div class="custom_input_choice p-4 d-flex gap-3 align-items-center radius20" onclick="handleCLickChoice(event)">
                                                ${choice.ar}
                                            </div>`
                        })
                        tempSizeSight += `<div class="sight_size">
                                            <button class="custom_input_fixed custom${sightSize.label} radius20 border p-4" data-value="${sightSize.label}" type="button" data-bs-toggle="modal" data-bs-target="#fixedInput${index}">${sightSize.label.split("-")[1]}
                                            </button>
                                            <div class="modal modal_custom_input_field fade" id="fixedInput${index}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog  modal-dialog-centered">
                                                  <div class="modal-content radius20">
                                                        <h3 class="title py-3 text-center">${sightSize.label}</h3>
                                                        <div class="modal_content d-flex flex-wrap gap-3 mt-3 mb-4 px-2">
                                                            ${tempChoices}
                                                        </div>
                                                        <div class="footer_modal d-flex flex-wrap gap-3 mb-3 px-2">
                                                            <button type="button" class="btn btn-primary confirm_custom_input_field  radius30 flex-1" data-name-custom-input-field = "${sightSize.label}" data-modal-id="fixedInput${index}">{{ locals.product.confirm }}</button>
                                                            <button type="button" class="btn flex-1 radius30 cansel" data-bs-dismiss="modal">{{ locals.product.cansel }}</button>
                                                        </div>
                                                  </div>                                                   
                                                </div>
                                             </div>
                                          </div>`
                    })
                     const sightSize = `<div class="field">
                                         <h2 class="field_label">${sigtSizes[0].label.split("-")[0]}</h2>
                                         <div class="d-flex gap-3 mt-3">
                                           ${tempSizeSight}
                                         </div>
                                       </div>`;
                     customInputFieldContainer.insertAdjacentHTML('beforeend', sightSize);
                     
                       // Attach event listener to confirm buttons
                    document.querySelectorAll('.confirm_custom_input_field').forEach(button => {
                        button.addEventListener('click', handleConfirmClick);
                    });
                }
                if(deviationSizes?.length > 0){
                    let tempSizeSight = "";
                    console.log("devition size");
                    console.log(deviationSizes);
                    deviationSizes.forEach((devSize,index) => {
                        let tempChoices = "";
                        // const activeTab = document.querySelector(`.custom${devSize.label}`);
                        devSize.choices.forEach((choice) => {
                            tempChoices += `<div class="custom_input_choice p-4 d-flex gap-3 align-items-center radius20" onclick="handleCLickChoice(event)">
                                                ${choice.ar}
                                            </div>`
                        })
                        tempSizeSight += `<div class="sight_size">
                                            <button class="custom_input_fixed custom${devSize.label} radius20 border p-4" data-value="${devSize.label}" type="button" data-bs-toggle="modal" data-bs-target="#defitionSize${index}">${devSize.label.split("-")[1]}
                                            </button>
                                            <div class="modal modal_custom_input_field fade" id="defitionSize${index}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog  modal-dialog-centered">
                                                  <div class="modal-content radius20">
                                                        <h3 class="title py-3 text-center">${devSize.label}</h3>
                                                        <div class="modal_content d-flex flex-wrap gap-3 mt-3 mb-4 px-2">
                                                            ${tempChoices}
                                                        </div>
                                                        <div class="footer_modal d-flex flex-wrap gap-3 mb-3 px-2">
                                                            <button type="button" class="btn btn-primary confirm_custom_input_field  radius30 flex-1" data-name-custom-input-field = "${devSize.label}" data-modal-id="defitionSize${index}">{{ locals.product.confirm }}</button>
                                                            <button type="button" class="btn flex-1 radius30 cansel" data-bs-dismiss="modal">{{ locals.product.cansel }}</button>
                                                        </div>
                                                  </div>                                                   
                                                </div>
                                             </div>
                                          </div>`
                    })
                     const devitionSIze = `<div class="field">
                                         <h2 class="field_label">${deviationSizes[0].label.split("-")[0]}</h2>
                                         <div class="d-flex gap-3 mt-3">
                                           ${tempSizeSight}
                                         </div>
                                       </div>`;
                     customInputFieldContainer.insertAdjacentHTML('beforeend', devitionSIze);
                     
                       // Attach event listener to confirm buttons
                    document.querySelectorAll('.confirm_custom_input_field').forEach(button => {
                        button.addEventListener('click', handleConfirmClick);
                    });
                }
                if(theHubs?.length > 0){
                    let tempSizeSight = "";
                    console.log("devition size");
                    console.log(theHubs);
                    theHubs.forEach((hub,index) => {
                        let tempChoices = "";
                        // const activeTab = document.querySelector(`.custom${devSize.label}`);
                        hub.choices.forEach((choice) => {
                            tempChoices += `<div class="custom_input_choice p-4 d-flex gap-3 align-items-center radius20" onclick="handleCLickChoice(event)">
                                                ${choice.ar}
                                            </div>`
                        })
                        tempSizeSight += `<div class="sight_size">
                                            <button class="custom_input_fixed custom${hub.label} radius20 border p-4" data-value="${hub.label}" type="button" data-bs-toggle="modal" data-bs-target="#theHub${index}">${hub.label.split("-")[1]}
                                            </button>
                                            <div class="modal modal_custom_input_field fade" id="theHub${index}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog  modal-dialog-centered">
                                                  <div class="modal-content radius20">
                                                        <h3 class="title py-3 text-center">${hub.label}</h3>
                                                        <div class="modal_content d-flex flex-wrap gap-3 mt-3 mb-4 px-2">
                                                            ${tempChoices}
                                                        </div>
                                                        <div class="footer_modal d-flex flex-wrap gap-3 mb-3 px-2">
                                                            <button type="button" class="btn btn-primary confirm_custom_input_field  radius30 flex-1" data-name-custom-input-field = "${hub.label}" data-modal-id="theHub${index}">{{ locals.product.confirm }}</button>
                                                            <button type="button" class="btn flex-1 radius30 cansel" data-bs-dismiss="modal">{{ locals.product.cansel }}</button>
                                                        </div>
                                                  </div>                                                   
                                                </div>
                                             </div>
                                          </div>`
                    })
                     const theHubRender = `<div class="field">
                                         <h2 class="field_label">${theHubs[0].label.split("-")[0]}</h2>
                                         <div class="d-flex gap-3 mt-3">
                                           ${tempSizeSight}
                                         </div>
                                       </div>`;
                     customInputFieldContainer.insertAdjacentHTML('beforeend', theHubRender);
                     
                       // Attach event listener to confirm buttons
                    document.querySelectorAll('.confirm_custom_input_field').forEach(button => {
                        button.addEventListener('click', handleConfirmClick);
                    });
                }
                if(fileInput) {
                    const fileInputTemp = `   <div class="custom-file-input-box">
                                       <div class="title">${fileInput.label}</div>
                                        <div class="custom-file-input radius20 px-3 mt-3">
                                            <input type="file" id="fileInput" style="display: none;" data-name="${fileInput.label}" onchange="updateFileName()">
                                            <div class="d-flex align-items-center justify-content-between gap-3 h-100">
                                              <span id="fileName">${fileInput?.hint}</span>
                                              <label for="${fileInput.id}" class="custom-file-label btn btn-primary radius20">{{ locals.product.attach }}</label>
                                            </div>
                                        </div>
                                     </div>`;
                     customInputFieldContainer.insertAdjacentHTML('beforeend', fileInputTemp);
                     document.querySelector(`input[id="${fileInput.id}"]`).addEventListener("change",()=>{
                        if (document.querySelector(`input[id='${fileInput.id}']`).files.length > 0) {
                           document.getElementById("fileName").textContent = document.querySelector(`input[id='${fileInput.id}']`).files[0].name;
                        }
                     })

                }
                if(doctorHelp) {
                    const doctor_help = `<div class="doctor_help">
                                       <div class="title">${doctorHelp.label}</div>
                                        <div class="mt-3 d-flex gap-3 align-items-center">
                                            <input type="checkbox" id="inputDoctorHelp" class="checkbox pointer" data-name="${doctorHelp.label}" onchange="handleDoctorHelp(event)">
                                            <span>${doctorHelp?.hint}</span>
                                        </div>
                                     </div>`;
                     customInputFieldContainer.insertAdjacentHTML('beforeend', doctor_help);
                    

                }
            }
        }
     
        function productAddToCart() {
            if(!$('.add-to-cart-progress').hasClass('d-none'))
                return;

            $('.add-to-cart-progress').removeClass('d-none');

            zid.store.cart.addProduct({ formId:'product-form' }).then(function (response) {
                if(response.status  === 'success'){

                    if(response.data)
                        setCartTotalAndBadge(response.data.cart);

                    $('.added-notification').addClass("show");
                    setTimeout(function () {
                        $('.added-notification').removeClass("show");
                    }, 5000);

                    var image = $('#product-images-slick .slick-slide.slick-active img');
                    var cart = $('.a-shopping-cart');

                    if(image.length && cart.length){
                        addToCartAnimation(cart, image);
                    }

                }else{
                    toastr.error(response.data.message, '{{ locals.sorry }}')
                }
                $('.add-to-cart-progress').addClass('d-none');
            })
        }

        function productOptionsChanged(selected_product) {
            if (selected_product) {
                $('#product-id').val(selected_product.id)
                $('.send-notify-product-id').val(selected_product.id)

                if (!selected_product.unavailable) {
                    // Selected a valid variant that is available.
                    if(selected_product.formatted_sale_price){
                        $('.product-formatted-price').html(selected_product.formatted_sale_price)
                        $('.product-formatted-price-old').html(selected_product.formatted_price)
                        $('.product-formatted-price-discount').html('{{ locals.product_discount }}'+' '+selected_product.discount_percentage+'%')

                    }else{
                        $('.product-formatted-price').html(selected_product.formatted_price)
                        $('.product-formatted-price-old').html('')
                        $('.product-formatted-price-discount').html('')
                    }

                    if(selected_product.weight.value){
                        $('.div-product-weight').removeClass('d-none');
                        $('.div-product-weight .product-weight').html(selected_product.weight.value+' '+selected_product.weight.unit)
                    }else{
                        $('.div-product-weight').addClass('d-none')
                    }

                    if(selected_product.sku){
                        $('.div-product-sku').removeClass('d-none');
                        $('.div-product-sku .product-sku').html(selected_product.sku)
                    }else{
                        $('.div-product-sku').addClass('d-none');
                    }


                    {% if store.is_low_stock_label_enabled %}
                    var store_low_stock_limit = {{ store.low_stock_quantity_limit }};
                    var low_stock_message = '{{ locals.product_cart_quantity_low_stock }}';

                    if(!selected_product.is_infinite &&  selected_product.quantity < store_low_stock_limit){
                        $('.low-quantity-section').addClass('d-inline-block');
                        $('.low-quantity-section .low-quantity').html(low_stock_message.replace('%s', selected_product.quantity))
                    }else{
                        $('.low-quantity-section').addClass('none');
                    }
                    {% endif %}

                    var sold_product_count_message = '{{ locals.product_sold_more_than_x_times }}';
                    if (selected_product.sold_products_count) {
                        $('.product-count').removeClass('d-none');
                        $('.product-count .lang').html(sold_product_count_message.replace('%s', selected_product.sold_products_count))
                    } else {
                        $('.product-count').removeClass('d-flex');
                        $('.product-count').addClass('d-none');
                    }
                    var selectQuantity = ''

                    if(selected_product.is_infinite)
                        selected_product.quantity = 100;

                    if(selected_product.quantity > 0) {
                        // $('.select-quantity-div').removeClass('d-none')
                        var quantityMax = (selected_product.quantity > 100) ? 100 : selected_product.quantity;
                        selectQuantity = '<option value="1"selected>1</option>'
                        for(var i=2; i <= quantityMax; i++){
                            selectQuantity += '<option value="'+i+'">'+i+'</option>';
                        }
                    }else{
                        $('.select-quantity-div').addClass('d-none')
                    }

                    $('.select-quantity').html(selectQuantity);

                    $('.product-buttons').removeClass('d-none');
                    $('.containerAddToCartQuantity').removeClass('d-none');
                    $('.section-out-of-stock-notify-me').addClass('d-none');

                    $('.btn-add-to-cart span').html('{{ locals.add_to_cart }}');

                    updateProductImages(selected_product);
                } else {
                    // Variant is sold out.
                    if(selected_product.formatted_sale_price){
                        $('.product-formatted-price').html(selected_product.formatted_sale_price)
                        $('.product-formatted-price-old').html(selected_product.formatted_price)
                        $('.product-formatted-price-discount').html('{{ locals.product_discount }}'+' '+selected_product.discount_percentage+'%')

                    } else{
                        $('.product-formatted-price').html(selected_product.formatted_price)
                        $('.product-formatted-price-old').html('')
                        $('.product-formatted-price-discount').html('')
                    }
                    $('.select-quantity-div').addClass('d-none')
                    $('.product-buttons').addClass('d-none');
                  $('.containerAddToCartQuantity').addClass('d-none');

                    $('.section-out-of-stock-notify-me').removeClass('d-none');

                    $('.btn-add-to-cart span').html('{{ locals.error_item_unavailable }}');

                    if(selected_product.sku){
                        $('.div-product-sku').removeClass('d-none');
                        $('.div-product-sku .product-sku').html(selected_product.sku)
                    } else {
                        $('.div-product-sku').addClass('d-none');
                    }
                    updateProductImages(selected_product);
                }

            } else {
                // variant doesn't exist.
                $('.select-quantity-div').addClass('d-none')
                $('.product-buttons').addClass('d-none');
                                  $('.containerAddToCartQuantity').addClass('d-none');

                $('.section-out-of-stock-notify-me').removeClass('d-none');

                $('.btn-add-to-cart span').html('{{ locals.error_item_unavailable }}');

                updateProductImages(selected_product);
            }
        }

        function updateProductImages(selected_product) {
            if(selected_product.images && selected_product.images.length > 0){
                $('.product-images-carousel').removeClass('d-none');
                $('.product-images-carousel-thumbs').removeClass('d-none-important');
                $('.product-images-empty').addClass('d-none');
                $('#product-images-slick').slick('unslick');
                $('.product-images-carousel').addClass('product-images-carousel-init');

                productImages = selected_product.images;

                $('#product-images-slick').html('');
                $('.product-images-carousel-thumbs').html('');

                for(var z = 0; z < productImages.length; z++){
                    var prImage = productImages[z];
                    $('#product-images-slick').append('' +
                        '<div>\n' +
                        '                                                                    <div class="box-1-1">\n' +
                        '                                                                        <div class="content">\n' +
                        '                                                                            <a class="image-link"\n' +
                        '                                                                               style="display:block; width: 100%; height: 100%;">\n' +
                        '                                                                                <img src="'+ prImage.image.full_size +'" class="carousel-img" alt="'+ selected_product.name +'">\n' +
                        '                                                                            </a>\n' +
                        '                                                                        </div>\n' +
                        '                                                                    </div>\n' +
                        '                                                                </div>');


                    $('.product-images-carousel-thumbs').append('<div class="col-3">\n' +
                        '                                                         <div class="box-1-1">\n' +
                        '                                                                <div class="content">\n' +
                        '                                                                    <a class="d-flex align-items-center justify-content-center thumb-image-a" data-index="{{ key }}"\n' +
                        '                                                                       style="width: 100%; height: 100%;" >\n' +
                        '                                                                        <img src="'+ prImage.image.medium +'" data-index="'+ z +'">\n' +
                        '                                                                    </a>\n' +
                        '                                                                </div>\n' +
                        '                                                            </div>\n' +
                        '                                                        </div>');

                }

                initSlick(productImages);

            }else{
                $('.product-images-carousel').addClass('d-none');
                $('.product-images-carousel-thumbs').addClass('d-none-important');
                $('.product-images-empty').removeClass('d-none');
            }
        }

        function sendProductNotifyMe() {
            if(!$('.send-notify-progress').hasClass('d-none'))
                return;

            $('.send-notify-progress').removeClass('d-none');
            zid.store.product.setAvailabilityNotificationEmail($('.send-notify-product-id').val(),$('.send-notify-email').val()).then(function (response) {
                if(response.status  === 'success'){
                    toastr.success('{{ locals.sent_successfully }}', null)
                }else{
                    toastr.error('{{ locals.notify_me_failed }}', '{{ locals.sorry }}')
                }
                $('.send-notify-progress').addClass('d-none');
            })
        }


        $('#product-description-a ').click(function(){
            event.preventDefault();

            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top - ((window.matchMedia('(max-width: 768px)').matches) ? 15 :  150)
            }, 500);

        });

        function addReviewButtonChecks() {
            if (!window.customer){
                $('#add-review-btn').css('display','none');
                $('#add-review-link').removeClass('d-none');
                $('#add-review-link').attr('href', `/auth/login?redirect_to=${window.location.pathname.replace('/','')}`);
            }
        }

        $(document).ready(function() {
            initSlick(productImages);
        });

        $(document).on('click','.thumb-image-a',function(event){
            var tarr = event.target;

            $('#product-images-slick').slick('slickGoTo',$(tarr).attr('data-index'),true);
        });


        $(document).on('click','#product-images-slick .image-link',function(event){
            $('.pswp').removeClass('d-hide');
            $('.app').addClass('d-hide');

            openPhotoSwipe(productImages.map(function (image) {
                return image.image.full_size
            }), $('#product-images-slick .slick-active').attr('data-slick-index'));

        });

        $(document).on('click','.variant-image-wrapper a',function(event){
            $('.pswp').removeClass('d-hide');
            $('.app').addClass('d-hide');
            var elm = event.currentTarget;
            var varId = $(elm).attr('data-link-var-id');

            var images = [];

            $("div[data-var-id='"+varId+"']  img").each(function(iElm){
                images.push($( this ).attr('data-image-url'))
            });

            openPhotoSwipe(images, $(elm).attr('data-index'));

        });


        var initSlick = function(productImages) {
            var arrowNextClass = (window.appDirection === 'ltr') ? 'icon-keyboard_arrow_right': 'icon-keyboard_arrow_left';
            var arrowPrevClass = (window.appDirection === 'ltr') ? 'icon-keyboard_arrow_left' : 'icon-keyboard_arrow_right';

            $('#product-images-slick').slick({
                infinite: false,
                autoplay: false,
                arrows: (productImages.length > 1),
                dots: (productImages.length > 1),
                rtl: !(window.appDirection === 'ltr'),
                nextArrow:'<button class="slick-next slick-arrow" aria-label="Next" type="button" style=""><span class="'+arrowNextClass+'"></span></button>',
                prevArrow:'<button class="slick-prev slick-arrow" aria-label="Previous" type="button" style=""><span class="'+arrowPrevClass+'"></span></button>'
            });
        }

        $('#product-images-slick').on('init', function(event, slick){
            $('.product-images-carousel').removeClass('product-images-carousel-init');
        });

        var openPhotoSwipe = function(productImages, index) {
            var pswpElement = document.querySelectorAll('.pswp')[0];

            // build items array
            var items = productImages.map(function (image) {
                return {
                    src: image,
                    w: 1200,
                    h: 900
                }
            })

            var options = {
                history: false,
                focus: false,

                showAnimationDuration: 0,
                hideAnimationDuration: 0,
                index: parseInt(''+index)

            };

            var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);

            gallery.listen('close', function() {
                $('.pswp').addClass('d-hide');
                $('.app').removeClass('d-hide');
            });

            gallery.init();
        };

        var showRelatedProducts = function () {
              const swiperRelatedProducts = document.querySelector('.similar_products_swiper');
                if(swiperRelatedProducts){

                let swiper = new Swiper('.similar_products_swiper', {
                    slidesPerView:2,
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                    spaceBetween: 30,
                    loop: true,
                    breakpoints: {
                        768: {
                            slidesPerView:  4.4,
                            spaceBetween: 10
                        }
                    }
                   }); 
                }
        }
        function updateFileName(event) {
            const fileInput = document.getElementById('fileInput');
            const fileName = document.getElementById('fileName');

            if (fileInput.files.length > 0) {
                fileName.textContent = fileInput.files[0].name;
            }
        }
        // handle accoridna
        const handleAccordian = ()=>{
             const accordionButton = document.getElementById('AccordionButtonLongDesc');

            accordionButton.addEventListener('click', function() {
                const isExpanded = this.getAttribute('aria-expanded') === 'true';
                const iconContainer = this.querySelector('.accordion-icon');

                if (isExpanded) {
                    iconContainer.innerHTML = `<svg width="17" height="2" viewBox="0 0 17 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M15.5 1H1.5" stroke="#0A3254" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>`;
                } else {
                    iconContainer.innerHTML = `<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M15.5 8H1.5" stroke="#0A3254" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M9 1V15" stroke="#0A3254" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>`;
                }
            });
        }
         document.addEventListener("DOMContentLoaded", function(){
                        showRelatedProducts();
                        handleVariations();
                        handleCustomInputFields();
                        handleAccordian();
          });

    </script>

{% endblock %}
